.swal2-container.in{
  background-color: rgba(0,0,0,0.8);
}
.swal2-modal{
  padding: 0;
  border-radius: 0;
  min-height: initial !important;
}
.swal2-modal .swal2-content{
  padding: 20px;
}
.swal2-modal .swal2-spacer{
  display: none !important;
}
.swal2-modal .swal-close{
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 32px;
  z-index: 1000;
}
.swal2-modal h2{
  padding: 4px 0;
  margin: 0;
  font-size: 18px;
}
.swal2-modal .swal2-content a{
  color: #FF9293;;
}
.swal2-modal >p{
  padding: 20px;
}
.swal2-modal .swal2-styled.swal2-loading{
  margin-top: 20px;
  margin-bottom: 20px;
}
.swal2-modal .swal2-styled{
  border-radius: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.swal2-modal .la-ball-fall{
  margin-top: -8px;
}
