/* for error alert */
.swal2-modal.error h2{
  background: #ff6263;
  color: white;
}
.swal2-modal.error .swal-close{
  color: white;
}
/* for success alert */
.swal2-modal.success h2{
  background: #7ccd94;
  color: white;
}
.swal2-modal.success .swal-close{
  color: white;
}
/* for info alert */
.swal2-modal.info h2{
  background: #9b59b6;
  color: white;
}
.swal2-modal.info .swal-close{
  color: white;
}
/* for warning alert */
.swal2-modal.warning h2{
  background: #e67e22;
  color: white;
}
.swal2-modal.warning .swal-close{
  color: white;
}
/* for confirm alert */
.swal2-modal.confirm h2{
  background: #7ccd94;
  color: white;
}
.swal2-modal.confirm .swal-close{
  color: white;
}
/* for confirm success alert with image*/
.swal2-modal .swal2-image{
  padding: 10px;
  display: none;
  margin: 0;
}
.swal2-modal .swal2-image img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid white;
}

.swal2-modal.confirm-success-with-avatar .swal2-image{
  background: #7ccd94;
  display: block;
}
.swal2-modal.confirm-success-with-avatar .swal-close{
  color: white;
}
/* for confirm error alert with image*/
.swal2-modal.confirm-error-with-avatar .swal2-image{
  background: #ff6263;
  display: block;
}
.swal2-modal.confirm-error-with-avatar .swal-close{
  color: white;
}
