/* .row.custom-break{
  @media (min-width: 1200px){
  }
  @media (max-width: 1199px){
  }
  @media (min-width: 980px){
  }
  @media (min-width: 980px) and (max-width: 1199px){
  }
  @media (min-width: 979px){
  }
  @media (max-width: 979px){
  }
  @media (min-width: 768px) and (max-width: 979px){
  }
  @media (max-width: 767px){
  }
  @media (min-width: 480px){
  }
  @media (min-width: 480px) and (max-width: 767px){
  }
  @media (max-width: 479px){
  }
  @media (min-width: 400px){
  }
  @media (min-width: 400px) and (max-width: 479px){
  }
  @media (max-width: 399px){
  }
  @media (min-width: 320px){
  }
  @media (min-width: 320px) and (max-width: 399px){
  }
  @media (max-width: 319px){
  }
}
*/
