<a class="item item-avatar order-notification-item" ng-class="{'is-new':!notification.hasSeen}" ng-click="notificationClick($event, notification)">
	<!-- <img ng-src="{{AppConfig.server+notification.img}}"> -->
	<img ng-src="{{utils.getUserAvatar(notification.additionData.order.buyer)}}">
	<h2>{{ notification.title }}<span class="time-from"> - {{utils.fromNow(notification.createdAt)}}</span></h2>
	<span class="label label-danger" ng-if="notification.additionData.order.rejected">Rejected</span>
	<span class="label label-success" ng-if="notification.additionData.order.shipped">Shipped</span>

	<div class="actions" ng-if="!notification.additionData.order.rejected && !notification.additionData.order.shipped && !showLoading">
		<button class="button button-small button-assertive icon ion-ios-checkmark-empty" ng-click="markShippedOrder($event)">Shipped</button>
	</div>
	<div class="padding text-center" ng-show="showLoading">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>
</a>
