<div class="bar-notification-btn">
	<button class="button button-clear notify-bt" ng-class="{'has-active':countNews}" ui-sref="app.notifications">
		<i class="icon ion-android-notifications-none"></i>
		<span class="notify-value" ng-bind="countNews" ng-show="countNews != 0"></span>
	</button>
</div>
