<ion-view view-title="Edit item" hide-back-button='true'>
  <ion-content class="page-edit-item">
    <!--<h1 style="text-align: center;">Edit a item</h1>-->
    <form name="forms.editItemFrm" ng-submit="editItem($event,forms.editItemFrm)" novalidate>
      <div class="list">
        <div class="item item-images-placeholder">
          <div class="item-image-placeholder show-off-the-front" ng-class="{'has-image':itemImageFiles[0]}" ng-click="uploadImageAtPlaceHolder($event, 0)">
            <div class="item-image-placeholder-bd">
              <div class="placeholder-bg">
                <img src="img/item-image-ratio.png">
                <span ng-show="!itemImageFiles[0].uploadStatus">
                  Show off the front!
                </span>
              </div>
              <i class="item-image" back-img="{{itemImageFiles[0].response.absUrl}}"
              ng-if="itemImageFiles[0] && itemImageFiles[0].uploadStatus == 1">
              </i>
              <div class="item-image-uploading-plh" ng-if="itemImageFiles[0] && !itemImageFiles[0].uploadStatus">
                <ion-spinner icon="spiral"></ion-spinner> Uploading
              </div>
              <div class="item-image-upload-error-plh" ng-if="itemImageFiles[0] && itemImageFiles[0].uploadStatus == 2">
                Upload error
              </div>
              <div ng-click="removeImage($event,0)" class="remove-item-image" ng-if="itemImageFiles[0]"><i class="icon ion-ios-close-outline placeholder-icon"></i></div>
            </div>
          </div>
          <div class="optional-images-placeholders">
            <div class="placeholder-row">
              <div class="item-image-placeholder show-off-the-back" ng-class="{'has-image':itemImageFiles[1]}" ng-click="uploadImageAtPlaceHolder($event, 1)">
                <div class="item-image-placeholder-bd">
                  <div class="placeholder-bg">
                    <img src="img/item-image-ratio.png">
                    <span ng-show="!itemImageFiles[1].uploadStatus">
                      Show off the back
                    </span>
                  </div>
                  <i class="item-image" back-img="{{itemImageFiles[1].response.absUrl}}"
                  ng-if="itemImageFiles[1] && itemImageFiles[1].uploadStatus == 1">
                  </i>
                  <div class="item-image-uploading-plh" ng-if="itemImageFiles[1] && !itemImageFiles[1].uploadStatus">
                    <ion-spinner icon="spiral"></ion-spinner> Uploading
                  </div>
                  <div class="item-image-upload-error-plh" ng-if="itemImageFiles[1] && itemImageFiles[1].uploadStatus == 2">
                    Upload error
                  </div>
                  <div ng-click="removeImage($event,1)" class="remove-item-image" ng-if="itemImageFiles[1]"><i class="icon ion-ios-close-outline placeholder-icon"></i></div>
                </div>
              </div>
              <div class="item-image-placeholder zoom-in-for-detail" ng-class="{'has-image':itemImageFiles[2]}" ng-click="uploadImageAtPlaceHolder($event, 2)">
                <div class="item-image-placeholder-bd">
                  <div class="placeholder-bg">
                    <img src="img/item-image-ratio.png">
                    <span ng-show="!itemImageFiles[2].uploadStatus">
                      Zoom in for detail
                    </span>
                  </div>
                  <i class="item-image" back-img="{{itemImageFiles[1].response.absUrl}}"
                  ng-if="itemImageFiles[1] && itemImageFiles[1].uploadStatus == 1">
                  </i>
                  <div class="item-image-uploading-plh" ng-if="itemImageFiles[2] && !itemImageFiles[2].uploadStatus">
                    <ion-spinner icon="spiral"></ion-spinner> Uploading
                  </div>
                  <div class="item-image-upload-error-plh" ng-if="itemImageFiles[2] && itemImageFiles[2].uploadStatus == 2">
                    Upload error
                  </div>
                  <div ng-click="removeImage($event,2)" class="remove-item-image" ng-if="itemImageFiles[2]"><i class="icon ion-ios-close-outline placeholder-icon"></i></div>
                </div>
              </div>
            </div>
            <div class="placeholder-row">
              <div class="item-image-placeholder snap-a-pic-of-the-label" ng-class="{'has-image':itemImageFiles[3]}" ng-click="uploadImageAtPlaceHolder($event, 3)">
                <div class="item-image-placeholder-bd">
                  <div class="placeholder-bg">
                    <img src="img/item-image-ratio.png">
                    <span ng-show="!itemImageFiles[3].uploadStatus">
                      Snap a pic of the label
                    </span>
                  </div>
                  <i class="item-image" back-img="{{itemImageFiles[3].response.absUrl}}"
                  ng-if="itemImageFiles[3] && itemImageFiles[3].uploadStatus == 1">
                  </i>
                  <div class="item-image-uploading-plh" ng-if="itemImageFiles[3] && !itemImageFiles[3].uploadStatus">
                    <ion-spinner icon="spiral"></ion-spinner> Uploading
                  </div>
                  <div class="item-image-upload-error-plh" ng-if="itemImageFiles[3] && itemImageFiles[3].uploadStatus == 2">
                    Upload error
                  </div>
                  <div ng-click="removeImage($event,3)" class="remove-item-image" ng-if="itemImageFiles[3]"><i class="icon ion-ios-close-outline placeholder-icon"></i></div>
                </div>
              </div>
              <div class="item-image-placeholder show-flaws-or-stains" ng-class="{'has-image':itemImageFiles[4]}" ng-click="uploadImageAtPlaceHolder($event, 4)">
                <div class="item-image-placeholder-bd">
                  <div class="placeholder-bg">
                    <img src="img/item-image-ratio.png">
                    <span ng-show="!itemImageFiles[4].uploadStatus">
                      Show flaws or stains
                    </span>
                  </div>
                  <i class="item-image" back-img="{{itemImageFiles[4].response.absUrl}}"
                  ng-if="itemImageFiles[4] && itemImageFiles[4].uploadStatus == 1">
                  </i>
                  <div class="item-image-uploading-plh" ng-if="itemImageFiles[4] && !itemImageFiles[4].uploadStatus">
                    <ion-spinner icon="spiral"></ion-spinner> Uploading
                  </div>
                  <div class="item-image-upload-error-plh" ng-if="itemImageFiles[4] && itemImageFiles[4].uploadStatus == 2">
                    Upload error
                  </div>
                  <div ng-click="removeImage($event,4)" class="remove-item-image" ng-if="itemImageFiles[4]"><i class="icon ion-ios-close-outline placeholder-icon"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <label class="item item-input upload-imgs-row">
          <multi-upload data="uploadData"></multi-upload>
          <div class="frm-error" ng-show="hasUploadImage && !itemImageFiles.length">Please upload images for item</div>
          <div class="frm-error" ng-show="hasUploadImage && !isMainImageValidated">Please upload main image show off the front</div>
          <div class="frm-error" ng-show="hasUploadImage && isAllImagesError">All images has error, please upload another images</div>
        </label>
        <div class="frm-part-hd">
          Item info
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Item name</span>
          <input type="text" name="name" placeholder="" ng-model="item.name" required>
          <div class="frm-error" ng-show="forms.editItemFrm.name.$error.required">Item name is required.</div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Description</span>
          <textarea name="description" placeholder="" ng-model="item.description" required></textarea>
          <div class="frm-error" ng-show="forms.editItemFrm.description.$error.required">Item description is required.</div>
        </label>
        <!-- <div ng-if="!user.stripe || !user.stripe.connected">
          <div class="alert alert-error" ui-sref="app.paymentSettings">Please connect with dressbook stripe to create sell item.</div>
          <ion-toggle ng-model="item.can_buy" toggle-class="toggle-assertive" ng-disabled="true">Sell</ion-toggle>
        </div>
        <div ng-if="user.stripe && user.stripe.connected">
          <ion-toggle ng-model="item.can_buy" toggle-class="toggle-assertive">Sell</ion-toggle>
          <label class="item item-input item-stacked-label" ng-show="item.can_buy">
            <span class="input-label">Sell price</span>
            <input type="text" name="cost" placeholder="" ng-model="item.cost" ng-required="item.can_buy" ng-currency min="0" fraction="0" currency-symbol="£">
            <div class="frm-error" ng-show="forms.editItemFrm.cost.$error.required">Item price is required.</div>
          </label>
        </div> -->
        <ion-toggle ng-model="item.isPrivate" toggle-class="toggle-assertive" class="required">Private</ion-toggle>
        <ion-toggle ng-model="item.can_borrow" toggle-class="toggle-assertive" class="required">Borrow</ion-toggle>
        <div class="alert alert-error margin-bt-0" ng-show="!item.can_borrow">
          All items uploaded will be available for people to request to borrow.
        </div>
        <div class="item item-icon-right" ng-click="showCategories($event)">
          Categories<span class="required"></span>
          <i class="icon ion-ios-arrow-right"></i>
          <span class="categories-selected" ng-if="categoriesSelected && categoriesSelected.length">
            ({{categoriesSelected.length}} choosen)
          </span>
        </div>
        <div class="frm-part-hd">
          Meeting Place
        </div>
        <div class="item item-icon-right" ng-click="showMeetingPlace($event)">
          <span class="metting-place" ng-if="item.meetingPlaceAddress">{{ item.meetingPlaceAddress }}</span>
          <span class="metting-place empty" ng-if="!item.meetingPlaceAddress">Not set</span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
        <div class="frm-part-hd">
          Item Attributes
        </div>

        <div class="item item-icon-right" ng-click="showColors($event)">
          Color<span class="required"></span>
          <span class="color-selected" ng-if="item.color && item.color.ref != -1">
            ({{item.color.name}})
          </span>
          <span class="color-selected" ng-if="item.color && item.color.ref == -1 && item.color.name">
            (Another color - {{item.color.name}})
          </span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>

        <div class="item item-icon-right" ng-click="showSizes($event)">
          Size<span class="required"></span>
          <span class="size-selected" ng-if="item.size && item.size.ref != -1">
            ({{item.size.name}})
          </span>
          <span class="size-selected" ng-if="item.size && item.size.ref == -1 && item.size.name">
            (Another size - {{item.size.name}})
          </span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>

        <div class="item item-icon-right" ng-click="showBrands($event)">
          Brand<span class="required"></span>
          <span class="brand-selected" ng-if="item.brand && item.brand.ref != -1">
            ({{item.brand.name}})
          </span>
          <span class="brand-selected" ng-if="item.brand && item.brand.ref == -1 && item.brand.name">
            (Another brand - {{item.brand.name}})
          </span>
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
      <div class="alert alert-success" ng-show="editItemSuccess">
        Item has been updated.
      </div>
      <div class="buttons text-center">
        <button class="button button-assertive button-full" type="submit" ng-disabled="forms.addItemFrm.$invalid || !categoriesSelected.length || !imagesValid || !(item.color.ref || item.color.name) || !(item.size.ref || item.size.name) || !(item.brand.ref || item.brand.name) || !item.can_borrow">Create item</button>
        <button class="button button-light button-full" ui-sref="app.listItems">Cancel</button>
      </div>
    </form>
  </ion-content>
</ion-view>
