<ion-modal-view class="item-frm-choose-color-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewColorsModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Colors</h1>
  </ion-header-bar>
  <ion-content>
    <div class="colors-row row" ng-repeat="color in colors track by $index" ng-if="$index%2==0">
      <div class="col">
        <div class="color-item" ng-class="{selected:colors[$index].selected}" ng-click="setSelectedColor($index)"  ng-if="colors[$index]._id != -1">
          <div class="color-picture" ng-if="colors[$index].picture"><img ng-src="{{AppConfig.server+colors[$index].pictureUrl}}"></div>
          <div class="color-picture" ng-if="!colors[$index].picture" attr-color="{{colors[$index].name}}" style="background-color:{{colors[$index].name}};"></div>
          <div class="color-name">{{colors[$index].name}}</div>
          <button class="color-selected-mark button button-icon button-small icon ion-ios-checkmark-empty" ng-show="colors[$index].selected"></button>
        </div>
        <div class="color-item" ng-class="{selected:colors[$index].selected}" ng-click="setSelectedColor($index)" ng-if="colors[$index]._id == -1">
          <div class="color-name">Another color</div>
          <button class="color-selected-mark button button-icon button-small icon ion-ios-checkmark-empty" ng-show="colors[$index+1].selected"></button>
        </div>
      </div>
      <div class="col" ng-if="colors[$index+1]">
        <div class="color-item" ng-class="{selected:colors[$index+1].selected}" ng-click="setSelectedColor($index+1)" ng-if="colors[$index+1]._id != -1">
          <div class="color-picture" ng-if="colors[$index+1].picture"><img ng-src="{{AppConfig.server+colors[$index+1].pictureUrl}}"></div>
          <div class="color-picture" ng-if="!colors[$index+1].picture" attr-color="{{colors[$index+1].name}}" style="background-color:{{colors[$index+1].name}};"></div>
          <div class="color-name">{{colors[$index+1].name}}</div>
          <button class="color-selected-mark button button-icon button-small icon ion-ios-checkmark-empty" ng-show="colors[$index+1].selected"></button>
        </div>
        <div class="color-item" ng-class="{selected:colors[$index+1].selected}" ng-click="setSelectedColor($index+1)" ng-if="colors[$index+1]._id == -1">
          <div class="color-name">Another color</div>
          <button class="color-selected-mark button button-icon button-small icon ion-ios-checkmark-empty" ng-show="colors[$index+1].selected"></button>
        </div>
      </div>
    </div>
    <div class="list another-color-input-list" ng-show="item.color.ref==-1">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Another color</span>
        <input type="text" name="itemcustomcolor" placeholder="" ng-model="item.color.name" ng-required="item.color.ref==-1">
      </label>
    </div>
    <div class="actions text-center">
      <button class="button button-assertive button-full" type="submit" ng-disabled="item.color.ref ==-1 && !item.color.name.trim()" ng-click="viewColorsModal.hide()">Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
