<ion-modal-view class="add-more-members-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewCategoriesModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Categories</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="categories">
      <li ng-repeat="category in categories" ng-switch="category.hasSubs">
        <div ng-switch-when="false">
          <ion-toggle ng-model="category.selected" toggle-class="toggle-assertive" ng-change="updateItemCategories()">{{getMinusChars(category.level-1)}} {{ category.name }}</ion-toggle>
        </div>
        <div class="item" ng-switch-when="true">{{getMinusChars(category.level-1)}}{{ category.name }}</div>
      </li>
    </ul>
    <div class="actions text-center">
      <button class="button button-assertive button-full" type="submit" ng-disabled="forms.chooseCategoriesFrm.$invalid" ng-click="viewCategoriesModal.hide()">Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
