<ion-modal-view class="item-frm-choose-size-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewSizesModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Sizes</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="sizes list">
      <li class="item item-icon-left item-icon-right" ng-class="{selected:sizes[$index].selected}" ng-repeat="size in sizes track by $index" ng-click="setSelectedSize($index)">
        <i class="icon ion-ios-paperplane-outline"></i>
        <span ng-if="size._id != -1">{{size.name}}</span>
        <span ng-if="size._id == -1">Another size</span>
        <i class="size-selected-mark icon ion-ios-checkmark-empty" ng-show="sizes[$index].selected"></i>
      </li>
    </ul>
    <div class="list another-size-input-list" ng-show="item.size.ref==-1">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Another size</span>
        <input type="text" name="itemcustomsize" placeholder="" ng-model="item.size.name" ng-required="item.size.ref==-1">
      </label>
    </div>
    <div class="actions text-center">
      <button class="button button-assertive button-full" type="submit" ng-disabled="item.size.ref ==-1 && !item.size.name.trim()" ng-click="viewSizesModal.hide()">Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
