<ion-modal-view class="item-frm-choose-brand-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewBrandsModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Brands</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="brands list">
      <li class="item item-icon-left item-icon-right" ng-class="{selected:brands[$index].selected}" ng-repeat="brand in brands track by $index" ng-click="setSelectedBrand($index)">
        <i class="icon ion-ios-paperplane-outline"></i>
        <span ng-if="brand._id != -1">{{brand.name}}</span>
        <span ng-if="brand._id == -1">Another brand</span>
        <i class="brand-selected-mark icon ion-ios-checkmark-empty" ng-show="brands[$index].selected"></i>
      </li>
    </ul>
    <div class="list another-brand-input-list" ng-show="item.brand.ref==-1">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Another brand</span>
        <input type="text" name="itemcustombrand" placeholder="" ng-model="item.brand.name" ng-required="item.brand.ref==-1">
      </label>
    </div>
    <div class="actions text-center">
      <button class="button button-assertive button-full" type="submit" ng-disabled="item.brand.ref ==-1 && !item.brand.name.trim()" ng-click="viewBrandsModal.hide()">Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
