<ion-modal-view class="item-frm-choose-size-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewSizesModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Sizes</h1>
  </ion-header-bar>
  <ion-content>
    <div class="sizes-row row" ng-repeat="size in sizes track by $index" ng-if="$index%4==0">
      <div class="col">
        <div class="size-item" ng-class="{selected:sizes[$index].selected}" ng-click="setSelectedSize($index)">
          <div class="size-name">{{sizes[$index].name}}</div>
        </div>
      </div>
      <div class="col">
        <div class="size-item" ng-class="{selected:sizes[$index+1].selected}" ng-click="setSelectedSize($index+1)" ng-if="sizes.length > $index+1 && sizes[$index+1]._id != -1">
          <div class="size-name">{{sizes[$index+1].name}}</div>
        </div>
        <div class="size-item" ng-class="{selected:sizes[$index+1].selected}" ng-click="setSelectedSize($index+1)" ng-if="sizes.length > $index+1 && sizes[$index+1]._id == -1">
          <div class="size-name">Another size</div>
        </div>
      </div>
      <div class="col">
        <div class="size-item" ng-class="{selected:sizes[$index+2].selected}" ng-click="setSelectedSize($index+2)" ng-if="sizes.length > $index+2 && sizes[$index+2]._id != -1">
          <div class="size-name">{{sizes[$index+2].name}}</div>
        </div>
        <div class="size-item" ng-class="{selected:sizes[$index+2].selected}" ng-click="setSelectedSize($index+2)" ng-if="sizes.length > $index+2 && sizes[$index+2]._id == -1">
          <div class="size-name">Another size</div>
        </div>
      </div>
      <div class="col">
        <div class="size-item" ng-class="{selected:sizes[$index+3].selected}" ng-click="setSelectedSize($index+3)" ng-if="sizes.length > $index+3 && sizes[$index+3]._id != -1">
          <div class="size-name">{{sizes[$index+3].name}}</div>
        </div>
        <div class="size-item" ng-class="{selected:sizes[$index+3].selected}" ng-click="setSelectedSize($index+3)" ng-if="sizes.length > $index+3 && sizes[$index+3]._id == -1">
          <div class="size-name">Another size</div>
        </div>
      </div>
    </div>
    <div class="list another-size-input-list" ng-show="addItemData.size.ref==-1">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Another size</span>
        <input type="text" name="itemcustomsize" placeholder="" ng-model="addItemData.size.name" ng-required="addItemData.size.ref==-1">
      </label>
    </div>
    <div class="actions text-center">
      <button class="button button-assertive button-full" type="submit" ng-disabled="addItemData.size.ref ==-1 && !addItemData.size.name.trim()" ng-click="viewSizesModal.hide()">Ok</button>
    </div>
  </ion-content>
</ion-modal-view>
