<ion-modal-view class="item-frm-choose-meeting-place-md">
  <ion-header-bar class="bar-assertive">
    <!-- <div class="buttons right-buttons"> -->
    <div class="buttons">
      <div class="button button-clear" ng-click="viewMeetingPlaceModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
    </div>
    <h1 class="title">Meeting Place</h1>
  </ion-header-bar>
  <div class="bar bar-subheader bar-search">
    <label class="item-input-wrapper placeholder-search-frm">
      <i class="placeholder-icon icon ion-ios-search"></i>
      <input type="search" id="meeting-place-address-search" placeholder="Search for your address" ng-model="item.meetingPlaceAddress">
    </label>
  </div>
  <ion-content data-tap-disabled="true" class="has-subheader has-subheader-search wrp-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' ng-if="viewMeetingPlaceModalRendered">
      <ui-gmap-circle center='meetingPlaceLoc'
        radius='item.meetingPlaceRadius'
        fill='meetingPlaceCircle.fill'
        stroke='meetingPlaceCircle.stroke'
        clickable='meetingPlaceCircle.clickable'
        draggable='meetingPlaceCircle.draggable'
        editable='meetingPlaceCircle.editable'
        visible='meetingPlaceCircle.visible'
        control='meetingPlaceCircle.control'
        events='meetingPlaceCircle.eventsHandles'
      ng-if="item.meetingPlaceLoc">
      </ui-gmap-circle>
    </ui-gmap-google-map>

  </ion-content>
</ion-modal-view>
<script type="text/ng-template" id="searchbox.tpl.html">
    <input type="text" placeholder="Search Box">
</script>
