<a class="item item-avatar friend-req-notification-item" ng-class="{'is-new':!notification.hasSeen}">
	<!-- <img ng-src="{{AppConfig.server+notification.img}}"> -->
	<img ng-src="{{utils.getUserAvatar(notification.additionData.request.from)}}">
	<h2>{{ notification.title }}<span class="time-from"> - {{utils.fromNow(notification.createdAt)}}</span></h2>
	<p class="ntf-content">{{ notification.content }}</p>
	<span class="label label-danger" ng-if="notification.additionData.request.status == 3">Rejected</span>
	<span class="label label-success" ng-if="notification.additionData.request.status == 2">Accepted</span>

	<div class="actions" ng-if="notification.additionData.request.status != 3 && notification.additionData.request.status != 2 && !showLoading">
		<button class="button button-small button-light icon ion-ios-close-empty" ng-click="rejectFriendReq($event)">Reject</button>
		<button class="button button-small button-assertive icon ion-ios-checkmark-empty" ng-click="acceptFriendReq($event)">Accept</button>
	</div>
	<div class="padding text-center" ng-show="showLoading">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>
</a>
