<ion-view view-title="Dressbook" hide-back-button='true' class="page-list-items page-browse-location">
  <div class="bar bar-assertive bar-header item-input-inset" id="search-bar-header" ng-show="hideNavBar" ng-cloak>
    <div class="item-input-wrapper">
      <i class="button button-icon button-clear icon ion-ios-search placeholder-icon "></i>
      <form ng-submit="queryItems($event)" clearfix>
        <input type="text" placeholder="Search" ng-model="itemSearchKeyword">
      </form>
      <button class="button button-icon button-clear ion-ios-close-outline" ng-show="itemSearchKeyword" ng-click="clearQueryKeyword($event)"></button>
    </div>
    <button class="button button-clear" ng-click="toggleSearchBar()">
      Cancel
    </button>
  </div>
  <div class="bar bar-subheader bar-balanced">
    <div class="center-loc-wrp clearfix">
      <button class="button icon ion-paper-airplane" ng-click="setCenterAtCurrent($event)"></button>
      <div class="input-wrp">
        <input type="search" id="center-loc-search" placeholder="Search for your address">
      </div>
    </div>
  </div>
  <div class="distance-bar">
    <div class="distance distance-{{i}}" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-click="setDistance($event, i)">
      <div>
        <span>{{i}}</span> KM
      </div>
    </div>
  </div>
  <ion-content data-tap-disabled="true" class="has-subheader wrp-map">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' control='map.control' events="map.events">
      <ui-gmap-marker
        idKey='item._id'
        coords='{longitude:item.meetingPlaceLoc[0], latitude:item.meetingPlaceLoc[1]}'
        click='showItemInfo($event)'
        ng-repeat="item in items"
        >
        <ui-gmap-window
          options="item.windowOpts"
          closeClick="item.windowOpts.visible = false;"
          templateUrl="'js/templates/item/browse-location/item-window.html'"
          templateParameter="{
            item:item,
            Item:Item,
            Utils:Utils
          }">
        </ui-gmap-window>
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
  <!-- <button class="button button-assertive abs-add-item-btn" ui-sref="app.itemAdd"><i class="ion-ios-plus-empty"></i></button> -->
</ion-view>
