<div class="gmap-window-item clearfix">
  <a class="it-img" ui-sref="app.itemView({id:parameter.item._id})"><img ng-src="{{parameter.Item.mainImageLink(parameter.item, 'small')}}" /></a>
  <div class="it-info">
    <a ui-sref="app.itemView({id:parameter.item._id})">{{parameter.item.name}}</a>
    <br/>
    <span class="it-price" ng-if="parameter.item.can_buy && parameter.item.providerStripeConnected"><span class="lb">Price:</span> <span class="val">£{{ parameter.Utils.moneyFormat(parameter.item.cost, 0, '.', ',') }}</span></span>
  </div>
</div>
