<div class="search-group-member-wg">
	<label class="item-input-wrapper placeholder-search-frm">
		<i class="placeholder-icon icon ion-ios-search"></i>
		<input type="search" placeholder="Search member to add" ng-model="searchChattersKeyword" ng-keyup="typingSearchChatters($event)" ng-blur="reqSearchChatters($event)">
	</label>
	<ion-scroll style="height:320px;">
		<ion-list class="list list-chatters" ng-if="chatters.length" ng-cloak>
			<ion-item class="item item-avatar" ng-repeat="chatter in chatters | groupUserNameByAlphabet track by $index" divider-collection-repeat item="{{ chatter | json}}">
				<img ng-src="{{chatter.user.avatar}}">
				<h2>{{ chatter.user.name }}</h2>
				<p>{{ chatter.lastMessage ? (chatter.lastMessage.sender == userId ?'You:':''):''}}{{chatter.lastMessage?utils.subStringBySpace(chatter.lastMessage.content, 30):''}}</p>
				<p class="time-from">{{chatter.lastMessage?utils.fromNow(chatter.lastMessage.createdAt):''}}</p>
				<button class="button button-icon icon ion-ios-plus-empty add-to-group-bt" ng-click="addToGroup($event,chatter.user._id, $index)"></button>
			</ion-item>
		</ion-list>
		<div class="empty-ntf alert alert-info" ng-show="showEmpty" ng-cloak>
			No result found. Please try and extend your search.
		</div>
		<ion-infinite-scroll distance="1%" ng-if="moreDataCanBeLoaded()" icon="ion-load-c" on-infinite="loadMoreChatters()">
		</ion-infinite-scroll>
	</ion-scroll>
</div>
