<ion-view view-title="Chat" hide-nav-bar="false" hide-back-button='true'>

<!-- PREVIOUS CHAT WINDOW
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>

-->
    <ion-content class="content-stable"
                     on-swipe-left="hideTime = false"
                     on-swipe-right="hideTime = true">

          <div ng-repeat="message in messages"
               ng-class="{other: message.userId != myId}"
               class="messages">

            <div class="message" ng-class="{'slide-right': hideTime, '': !hideTime}">
              <span>{{ message.text }}</span>
            </div>

            <div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


          </div>

        </ion-content>

        <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
          </label>
          <button class="button button-clear" ng-click="sendMessage()">
            Send
          </button>
        </ion-footer-bar>
      </ion-pane>

  </ion-content>
</ion-view>
