<ion-view view-title="Dressbook" hide-back-button='true'>


  <ion-content ng-controller="GetImagesCtrl" ng-init="loadimages()">
    <div class="row" ng-repeat="image in images" ng-if="$index % 2 === 0">

      <div class="col col-50" ng-if="$index < images.length">
        <img ng-src="{{images[$index].src}}" width="100%" />
      </div>


      <div class="col col-50" ng-if="$index + 1 < images.length">
        <img ng-src="{{images[$index + 1].src}}" width="100%" />
      </div>
    </div>


  </ion-content>
</ion-view>
