<ion-view view-title="Invite a Friend" hide-back-button='true' class="page-invite-friend">
  <ion-content>
    <h2>Join me on DressBook</h2>
    <!--	<div class = "row"> -->
    <div class="alert alert-error error-text" ng-show="errorMessage">{{errorMessage}}</div>
    <div class="alert alert-success success-text" ng-show="inviteSuccess">Friends has been invited</div>
    <form name="inviteFriendsFrm" ng-submit="invite($event,inviteFriendsFrm.$valid)" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label required">To</span>
          <input type="email" name="receiver" placeholder="Your friend email" ng-model="inviteFriendsData.receiver" required>
          <div class="frm-error" ng-show="inviteFriendsFrm.receiver.$error.required && inviteFriendsFrm.receiver.$dirty">This field is required.</div>
          <div class="frm-error" ng-show="inviteFriendsFrm.receiver.$error.email && inviteFriendsFrm.receiver.$dirty">Email isn't valid.</div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">From</span>
          <input type="text" name="senderEmail" placeholder="" ng-model="senderEmail" disabled>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Message</span>
          <textarea rows="4" name="message" placeholder="Have you heard about this great new app called Dressbook? It allows you to share your clothes. Download it from the app store now." ng-model="inviteFriendsData.message"></textarea>
        </label>
      </div>
      <div class="text-center">
        <button class="button button-assertive button-full" type="submit" ng-disable="inviteFriendsFrm.$invalid" class="button">Ok</button>
        <a ui-sref="app.listItems" class="button button-light button-full">Cancel</a>
      </div>
    </form>
  </ion-content>
</ion-view>
