<ion-view title="Log in" hide-nav-bar="true" class="page-login">
  <ion-content style="background-image: url(" /img/bg.jpg");">

    <div id="wrapper">
      <!-- Main -->
      <section id="main">
        <header class="text-center text-uppercase">
          <span class="avatar"><img src="img/dressbook_logo5.png" alt="dressbook"></span>
          <h1 class="hd-style">DressBook</h1>
          <p class="slim-style">Your extended wardrobe.</p>
        </header>
        <h2 class="text-center text-uppercase slim-style">Sign In</h2>
        <form method="post" action="#" ng-submit="doLogin($event, loginFrm.$valid)" name="loginFrm">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="email" name="email" id="email" placeholder="" ng-model="loginData.email" required>
              <!-- <div class="frm-error" ng-show="loginFrm.email.$error.required && loginFrm.email.$dirty">Email is required.</div>
                        <div class="frm-error" ng-show="loginFrm.email.$error.email && loginFrm.email.$dirty">Email not valid.</div> -->
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" name="password" id="password" placeholder="" ng-model="loginData.password" required>
              <!-- <div class="frm-error" ng-show="loginFrm.password.$error.required && loginFrm.password.$dirty">Password is required.</div> -->
            </label>
            <div class="item item-checkbox slim-style">
              <label class="checkbox">
                <input type="checkbox" name="permission" ng-model="loginData.rememberMe">
              </label>
              Remember me
            </div>
          </div>
          <div class="actions text-center">
            <button class="button button-assertive button-full" type="submit" ng-disable="loginFrm.$invalid" class="button">Sign In</button>
            <button ui-sref="app.signup" class="button button-assertive button-full">Register</button>
          </div>
        </form>
        <div class="text-center forgot-password-lnk">
          <a ui-sref="app.resetPassword">
            <p class="slim-style">Forgotten your password?</p>
          </a>
        </div>
        <hr>
      </section>
    </div>

  </ion-content>
</ion-view>
