<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="main.dragContent" ng-class="{'menu-disabled':!main.dragContent}">
    <ion-nav-bar class="bar-assertive" ng-hide="hideNavBar">
      <ion-nav-back-button></ion-nav-back-button>
      <!-- ======= LEFT MENU BAR ====== -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-drag" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <!-- ====== RIGHT MENU BAR ====== -->

      <ion-nav-buttons side="right">
        <user-notification-button ng-if="main.isLoggedIn"></user-notification-button>
        <button class="button button-icon button-clear ion-ios-search-strong" ng-click="toggleSearchBar()" ng-show="showSearchIcon">
        </button>
      </ion-nav-buttons>
      <!-- <search-bar ng-model="search"></search-bar> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" class="app-content-view">
    </ion-nav-view>
  </ion-side-menu-content>

  <!-- ====== SEARCH BAR ====== -->

  <!-- ====== LEFT MENU CONTENT ====== -->
  <ion-side-menu side="left" expose-aside-when="large" is-enabled="main.dragContent" ng-show="main.dragContent" ng-cloak>
  {{main.dragContent}}
    <ion-header-bar class="bar-assertive for-guest" ng-if="!main.isLoggedIn">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-header-bar class="for-user" ng-if="main.isLoggedIn">
      <button class="button button-icon icon ion-ios-compose-outline" ui-sref="app.profile"></button>
    </ion-header-bar>
    <ion-content class="menu-content has-header">
      <ion-list>
        <ion-item menu-close nav-clear class="item-avatar" ui-sref="app.profile">
          <img ng-src="{{ main.userAvatar }}">
          <h2>{{ main.user.name }}</h2>
        </ion-item>
        <ion-item menu-close ui-sref="app.listItems" ui-sref-opts="{inherit: false}" ui-sref-active="active">
          <i class="ion-ios-home-outline"></i>   Home
        </ion-item>
        <ion-item menu-close ui-sref="app.itemAdd" ui-sref-active="active">
          <i class="ion-ios-plus-outline"></i>   Add Item
        </ion-item>
        <ion-item menu-close ui-sref="app.friends" ui-sref-active="active">
          <i class="ion-ios-people-outline"></i>   Friends
        </ion-item>
        <ion-item menu-close ui-sref="app.message_inbox" ui-sref-active="active">
          <i class="ion-ios-chatboxes-outline"></i>   Inbox
          <chat-notification-count ng-if="main.isLoggedIn"></chat-notification-count>
        </ion-item>
        <ion-item menu-close ui-sref="app.browse" ui-sref-active="active">
          <i class="ion-ios-book-outline"></i>   Browse
        </ion-item>
        <ion-item menu-close ng-click="showSettingsMenu($event)" ui-sref="app.none">
          <i class="ion-ios-gear-outline"></i>   Settings
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
