<ion-view title="Log in" hide-nav-bar="true" class="page-login">
  <ion-content style="background-image: url(" /img/bg.jpg");">

    <div id="wrapper">
      <!-- Main -->
      <section id="main">
        <header class="text-center text-uppercase">
          <span class="avatar"><img src="img/dressbook_logo5.png" alt="dressbook"></span>
          <h1 class="hd-style">DressBook</h1>
          <p class="slim-style">Your extended wardrobe.</p>
        </header>
        <hr>
        <h2 class="text-center text-uppercase slim-style">Forgot Password</h2>
        <form method="post" action="#" ng-submit="doResetPassword($event, resetPasswordFrm.$valid)" name="resetPasswordFrm">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Enter your email to reset password</span>
              <input type="email" name="email" id="email" placeholder="" ng-model="resetPasswordData.email" required>
            </label>
          </div>
          <div class="actions text-center">
            <button class="button button-assertive button-full" type="submit" ng-disable="resetPasswordFrm.$invalid" class="button">Reset Password</button>
            <a ui-sref="app.signup" class="button button-assertive button-full">Register</a>
          </div>
        </form>
        <div class="text-center forgot-password-lnk">
          <a ui-sref="app.login">
            <p class="slim-style">Remember password? Login</p>
          </a>
        </div>
        <hr>
      </section>
    </div>
  </ion-content>
</ion-view>
