<ion-view title="signup" class="padding page-signup" hide-nav-bar="true">
  <ion-header-bar class="bar-assertive">
    <div class="buttons">
      <div class="buttons">
        <button class="button button-clear" ui-sref="app.login">
          <i class="ion-ios-arrow-back"></i>
        </button>
      </div>
    </div>
  </ion-header-bar>
  <ion-content>
    <div ng-view="" class="ng-scope">
      <div id="wrapper" class="ng-scope">
        <!-- Main -->
        <section id="main">
          <header class="text-center text-uppercase">
            <h1 class="hd-style">Registration</h1>
            <span class="avatar"><img src="img/dressbook_logo5.png" alt=""></span>
          </header>
          <!--<hr />-->
          <h2 class="text-center text-uppercase slim-style">Please complete the form below</h2>
          <form name="signupFrm" ng-submit="doSignup($event,signupFrm.$valid)" method="post" action="#" class="ng-pristine ng-valid ng-valid-email">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Full Name</span>
                <input type="text" name="name" id="name" placeholder="" ng-model="signupData.name" class="ng-pristine ng-untouched ng-valid" required>
                <div class="frm-error" ng-show="signupFrm.name.$error.required && signupFrm.name.$dirty">Display name is required.</div>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">User Name</span>
                <input type="text" name="username" id="username" placeholder="" ng-model="signupData.username" class="ng-pristine ng-untouched ng-valid" required>
                <div class="frm-error" ng-show="signupFrm.username.$error.required && signupFrm.username.$dirty">User name is required.</div>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="email" name="email" id="email" placeholder="" ng-model="signupData.email" class="ng-pristine ng-untouched ng-valid ng-valid-email" required>
                <div class="frm-error" ng-show="signupFrm.email.$error.required && signupFrm.email.$dirty">Email is required.</div>
                <div class="frm-error" ng-show="signupFrm.email.$error.email && signupFrm.email.$dirty">Email isn't valid.</div>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Address</span>
                <input type="text" name="address" id="adress" placeholder="" ng-model="signupData.address" class="ng-pristine ng-untouched ng-valid">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Post Code</span>
                <input type="text" name="postcode" id="postcode" placeholder="" ng-model="signupData.postcode" class="ng-pristine ng-untouched ng-valid" required>
                <div class="frm-error" ng-show="signupFrm.postcode.$error.required && signupFrm.postcode.$dirty">Post Code is required.</div>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" name="password" id="password" placeholder="" ng-model="signupData.password" class="ng-pristine ng-untouched ng-valid" required>
                <div class="frm-error" ng-show="signupFrm.password.$error.required && signupFrm.password.$dirty">Password is required.</div>
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Re-Password</span>
                <input type="password" name="password2" id="password2" placeholder="" ng-model="signupData.password_ver" class="ng-pristine ng-untouched ng-valid" compare-to="signupData.password">
                <div class="frm-error" ng-show="signupFrm.password2.$error.compareTo && signupFrm.password2.$dirty">Password do not match!</div>
              </label>
              <!-- <div class="item item-checkbox slim-style">
                <label class="checkbox">
                  <input type="checkbox" name="permission" ng-model="signupData.permission" ng-required="true">
                </label>
                I am at least 18 years old or have my parents permission
                <div class="frm-error" ng-show="signupFrm.permission.$error.required && signupFrm.permission.$dirty">You must match this condition.</div>
              </div>
              <div class="item item-checkbox slim-style">
                <label class="checkbox">
                  <input type="checkbox" name="acceptTerm" ng-model="signupData.acceptTerm" ng-required="true">
                </label>
                I accept
                <a ui-sref="app.TandC">the terms and conditions</a>
                <div class="frm-error" ng-show="signupFrm.acceptTerm.$error.required && signupFrm.acceptTerm.$dirty">You must accept T&amp;C.</div>
              </div> -->
            </div>
            <div class="actions text-center">
              <button class="button button-assertive button-full" type="submit" ng-disable="signupFrm.$invalid" class="button">Sign Up</button>
            </div>
            <div class="text-center forgot-password-lnk">
              <a ui-sref="app.login">
                <p class="slim-style">Has account? Login</p>
              </a>
            </div>
          </form>
          <hr>
        </section>

      </div>

      <!-- Scripts -->
      <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
      <script class="ng-scope">
        if ('addEventListener' in window) {
          window.addEventListener('load', function() {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
          });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/)
            ? ' is-ie'
            : '');
        }
      </script>
    </div>

  </ion-content>
</ion-view>
