<ion-view title="signup" class="padding page-tandc" hide-nav-bar="true">
    <ion-header-bar class="bar-assertive">
        <div class="buttons">
            <div class="buttons">
                <button class="button button-clear" ui-sref="app.signup" ng-if="!back"><i class="ion-ios-arrow-back"></i></button>
                <button class="button button-clear" ui-sref="app.profile" ng-if="back == 'profile'"><i class="ion-ios-arrow-back"></i></button>
            </div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div id="wrapper">
            <!-- Main -->
            <section id="main">
                <header>
                    <h1 class="text-center text-uppercase">DRESSBOOK TERMS</h1>
                    <h3 class="text-center text-uppercase">21st April 2016</h3>
                </header>
                <div class="container padding">
                    <p>
                      Attention: By using this application (“Dressbook”), you agree and affirm that you have read and accept these terms of use. If you do not accept these terms of use, you are not authorised to use this application.
                    </p>
                    <p>
                      These terms of use govern your use of the application, any content (such as text, data, information, software, graphics, or photographs) that Dressbook Ltd, may make available through the application (collectively, “materials”) and any services that Dressbook Ltd may provide through the application. The application, materials and services are referred to in these terms of use collectively as the ‘Dressbook Application’.
                    </p>
                    <p>
                      Your use of the Dressbook application form a legal agreement between you and Dressbook and is subject to the terms of that agreement as stated in these Terms of Use. You acknowledge and agree that Dressbook may stop (permanently or temporarily) providing the Dressbook application to you or to users generally, at Dressbook’s sole discretion, without prior notice to you. You may stop using the Dressbook application at any time. You do not need to specifically inform Dressbook when you stop using the Dressbook application. In order to access certain materials or services, you may be required to provide information about yourself (such as identification or contact details, including payment information) as part of the registration process for the application, or as part of your continued use of the application/service. You agree that any registration information or personal information of items you upload, you will give to Dressbook will always be accurate, correct and up to date.
                    </p>
                    <p>
                      Content of, and/or opinions expressed on, the Dressbook application and in any corresponding comments are the personal opinions of the original authors, not of Dressbook. The content is provided for informational purposes only and is not meant to be an endorsement or representation by Dressbook or any other party. You understand that all information (such as data files, written text, computer software, music, audio files, pictures, photographs, videos or other images) which you may have access to as part of, or through your use of, the Dressbook application are the sole responsibility of the person from which such content originated. You understand and acknowledge that the Dressbook application may be protected by intellectual property rights which are ownder by Dressbook or by other entities. You may not modify, rent, lease, loan, sell, distribute or create derivative works based on the Dressbook application, either in whole or in part, unless you have been specifically told that you may do so by Dressbook or by the owners of rights to content of the Dressbook application, in a separate agreement.
                    </p>
                    <h3>Use of Dressbook Application</h3>
                    <p>
                      Dressbook authorises you to use the Dressbook application only for your own personal, non-commercial purposes. Use of the Dressbook application for any public or commercial purpose (including, without limitation, on another site or through a networked computer environment) without an express written agreement with Dressbook is strictly prohibited. If you make copies of any of the materials, you must retain on any such copies all copyright and other proprietary notices contained in the original materials. You may not modify, publicly display, publicly perform, or distribute the materials. As between you and Dressbook, Dressbook owns the Dressbook application. The Dressbook application are protected under United Kingdom and internaltional copyright laws. Any unthorised use of the Dressbook application may violate copyright, trademark and other laws.
                    </p>
                    <p>
                      You agree to use the Dressbook application only for the purpose that are permitted by (a) the Terms of Use and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions. You agree not to access (or attempt to access) any of the Dressbook Application by any means other than through the interface that is provided by Dressbook, unless you have been specifically allowed to do so in a separate agreement with Dressbook. You specifically agree not to access (or attempt to access) any of the Dressbook Application through any automated means (including use of scripts or web crawlers). You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services). Unless you have been specifically permitted to do so in a separate agreement with Dressbook, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Materials or Services for any purpose. You agree that you are solely responsible for (and that Dressbook has no responsibility to you or to any third party for) any breach of your obligations under the Terms of Use and for the consequences (including any loss or damage which Dressbook may suffer) of any such breach.
                    </p>
                    <p>
                      Dressbook reserves the right (but shall have no obligation) to pre-screen, review, flag, filter, modify, refuse or remove any or all content from the Dressbook Application.
                    </p>
                    <h3>Access</h3>
                    <p>
                      You are responsible for obtaining and maintaining all equipment and services needed for access to and use of the Dressbook Application. You are responsible for maintaining the confidentiality of your Dressbook Application password and you are solely responsible for all activities that occur under your password. You agree to notify Dressbook immediately of any unauthorised use of your password or any other breach of security related to the Dressbook Application. Dressbook reserves the right to require you to change your password if Dressbook believes that your password no longer is secure.
                    </p>
                    <h3>Prohibited uses</h3>
                    <p>
                      You agree not to use the Dressbook Application (a) in a manner that violates any local, state, national, foreign, or international statute, regulation, rule, order, treaty, or other law; (b) to stalk, harass, or harm another individual; (c) to impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity; or (d) to interfere with or disrupt the Dressbook Application or servers or networks connected to the Dressbook Application. You further agree not to (1) use any data mining, robots, or similar data gathering or extraction methods in connection with the Dressbook Application; or (2) attempt to gain unauthorised access to any portion of the Dressbook Application or any other accounts, computer systems, or networks connected to the Dressbook Application, whether through hacking, password mining, or any other means.
                    </p>
                    <h3>Termination</h3>
                    <p>
                      Dressbook may terminate, suspend, or modify your registration with, or access to, all or part of the Dressbook Application, without notice, at any time and for any reason. You may discontinue your participation in and access to the Dressbook Application at any time. If you breach any of these Terms of Use, your authorisation to use the Dressbook Application automatically terminates and you agree to immediately destroy any downloaded or printed content obtained from the Dressbook Application (and any copies thereof).
                    </p>
                    <h3>Disclaimers</h3>
                    <p>
                      THE DRESSBOOK APPLICATION ARE PROVIDED “AS IS” AND “WITH ALL FAULTS” AND THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE DRESSBOOK APPLICATION IS WITH YOU, INCLUDING, WITHOUT LIMITATION, RISKS ASSOCIATED WITH THE PRESENCE OF ADWARE, VIRUSES, SPYWARE, AND/OR WORMS, ETC. SHOULD THE MATERIALS OR SERVICES PROVE DEFECTIVE, YOU, AND NOT DRESSBOOK, ASSUME THE ENTIRE COST OF ALL NECESSARY SERVICING AND REPAIR. DRESSBOOK EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS, IMPLIED, OR STATUTORY, WITH RESPECT TO THE DRESSBOOK APPLICATION (INCLUDING, BUT NOT LIMITED TO, ANY IMPLIED OR STATUTORY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR USE OR PURPOSE, TITLE, AND NON-INFRINGEMENT OF INTELLECTUAL PROPERTY RIGHTS). WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, DRESSBOOK MAKES NO WARRANTY THAT THE DRESSBOOK APPLICATION WILL MEET YOUR REQUIREMENTS OR THAT THE DRESSBOOK APPLICATION WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE OR THAT DEFECTS IN THE DRESSBOOK APPLICATION WILL BE CORRECTED. DRESSBOOK MAKES NO WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE DRESSBOOK APPLICATION OR AS TO THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE DRESSBOOK APPLICATION. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU THROUGH THE DRESSBOOK APPLICATION OR FROM DRESSBOOK, ITS PARENTS, SUBSIDIARIES, OR OTHER AFFILIATED COMPANIES, OR ITS OR THEIR SUPPLIERS (OR THE RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS OF ANY SUCH ENTITIES) (COLLECTIVELY, “THE DRESSBOOK PARTIES”) SHALL CREATE ANY WARRANTY. DRESSBOOK DISCLAIMS ALL EQUITABLE INDEMNITIES.
                    </p>
                    <h3>Limitation of Liability</h3>
                    <p>
                      IN NO EVENT WILL ANY OF THE DRESSBOOK PARTIES BE LIABLE FOR (A) ANY INDIRECT, SPECIAL, CONSEQUENTIAL, PUNITIVE, OR EXEMPLARY DAMAGES OR (B) ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF REVENUES, LOST PROFITS, LOSS OF GOODWILL, LOSS OF USE OR ITEMS, BUSINESS INTERRUPTION, OR OTHER INTANGIBLE LOSSES), ARISING OUT OF OR IN CONNECTION WITH THE DRESSBOOK APPLICATION (INCLUDING, WITHOUT LIMITATION, USE, INABILITY TO USE, OR THE RESULTS OF USE OF THE DRESSBOOK APPLICATION), WHETHER SUCH DAMAGES ARE BASED ON WARRANTY, CONTRACT, TORT, STATUTE, OR ANY OTHER LEGAL THEORY AND EVEN IF ANY DRESSBOOK PARTY HAS BEEN ADVISED (OR SHOULD HAVE KNOWN) OF THE POSSIBILITY OF SUCH DAMAGES.
                    </p>
                    <h3>Exclusions and limitations</h3>
                    <p>
                      Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for certain damages. Accordingly, some of the above disclaimers and limitations of liability may not apply to you. To the extent that any Dressbook Party may not, as a matter of applicable law, disclaim any implied warranty or limit its liabilities, the scope and duration of such warranty and the extent of the Dressbook Party’s liability shall be the minimum permitted under such applicable law.
                    </p>
                    <h3>Modifications to Dressbook Application</h3>
                    <p>
                      Dressbook reserves the right to modify, suspend, or discontinue the Dressbook Application at any time without notice to you.
                    </p>
                    <h3>User submissions</h3>
                    <p>
                      Certain areas of the Dressbook Application may permit you to submit feedback, information, data, text, images, software, music, sound, photographs, graphics, video, messages, or other materials (each, a “User Submission”). By submitting a User Submission; whether blog posts contributed via RSS, blog posts written directly on the application, or comments, or the offer to lend an item, the contributor agrees to give Dressbook a perpetual, non-exclusive license to the content that Dressbook publishes; you grant to Dressbook an irrevocable, perpetual, transferable, non-exclusive, fully-paid, worldwide, license (sublicensable through multiple tiers) to (a) use, distribute, reproduce, modify, adapt, publish, translate, publicly perform, and publicly display your User Submissions (or any modification thereto), in whole or in part, in any format or medium now known or later developed and (b) use (and permit others to use) your User Submission in any manner and for any purpose (including, without limitation, commercial purposes) that Dressbook deems appropriate in its sole discretion (including, without limitation, to incorporate your User Submission or any modification thereto, in whole or in part, into any technology, product, or service). Dressbook reserves the right to display advertisements in connection with User Submissions and to use User Submissions for advertising and promotional purposes. Dressbook may, but is not obligated to, pre-screen User Submissions or monitor any area of the Dressbook Application through which User Submissions may be submitted. You agree that you are solely responsible for all of your User Submissions. Dressbook is not required to host, display, or distribute any User Submissions on or through the Dressbook Application and may remove at any time or refuse any User Submissions for any reason. Dressbook is not responsible for any loss, theft, or damage of any kind to any User Submissions or items shared. Dressbook does not want to receive any User Submission that is confidential or that the User would have concerns regarding the distribution of such items. You understand and agree that any User Submission will be considered non-confidential and non-proprietary and that Dressbook will be free to disclose your User Submission to any third party absent any obligation of confidence on the part of the recipient. Dressbook does not guarantee that you will have any recourse through Dressbook or any third party to edit or delete any User Submission you have submitted. By posting you agree to be solely responsible for the content of all information you contribute, link to, or otherwise upload to the Application and release Dressbook from any liability related to your use of the Application.
                    </p>
                    <p>
                      By submitting any User Submission, registering and accepting the T&C outlined, you represent and warrant that:
                    </p>
                    <ul class="list-number">
                      <li>you are at least 18 years old;</li>
                      <li>you own all rights in your User Submissions (including, without limitation, all rights to the audio, video, pictures, images or digital recording and the performance contained in your User Submissions) or, alternatively, you have acquired all necessary rights in your User Submissions to enable you to grant to Dressbook the rights in your User Submissions described herein;</li>
                      <li>you have paid and will pay in full all license fees, clearance fees, and other financial obligations, of any kind, arising from any use or commercial exploitation of your User Submissions;</li>
                      <li>you are the individual pictured and/or heard in your User Submissions or, alternatively, you have obtained permission from each person (including consent from parents or guardians for any individual under the age of eighteen (18)) who appears and/or is heard in your User Submissions to grant the rights to Dressbook described herein;</li>
                      <li>your User Submissions do not infringe the copyright, trademark, patent, trade secret, or other intellectual property rights, privacy rights, or any other legal or moral rights of any third party;</li>
                      <li>you voluntarily agree to waive all “moral rights” that you may have in your User Submission;</li>
                      <li>any information contained in your User Submission is not known by you to be false, inaccurate, or misleading;</li>
                      <li>your User Submission does not violate any law (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination, or false advertising);</li>
                      <li>your User Submission is not, and may not reasonably be considered to be, defamatory, libellous, hateful, racially, ethnically, religiously, or otherwise biased or offensive, unlawfully threatening, or unlawfully harassing to any individual, partnership, or corporation, vulgar, pornographic, obscene, or invasive of another’s privacy;</li>
                      <li>you were not and will not be compensated or granted any consideration by any third party for submitting your User Submission or any lending of items which you may offer/accept;</li>
                      <li>your User Submission does not incorporate materials from a third party web site, or addresses, email addresses, contact information, or phone numbers (other than your own);</li>
                      <li>your User Submission does not contain any viruses, worms, spyware, adware, or other potentially damaging programs or files;</li>
                      <li>your User Submission does not contain any information that you consider confidential, proprietary, or personal;</li>
                      <li>your User Submission does not contain or constitute any unsolicited or unauthorised advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes, or any other form of solicitation;</li>
                      <li>you are solely responsible for the content of all information you contribute, link to, or otherwise upload to Dressbook application; and</li>
                      <li>you release and indemnify Dressbook and sponsors of Dressbook Application from any claims and/or liability related to your use of those Applications/Services.</li>
                    </ul>
                    <h3>Content Contributors</h3>
                    <p>
                      Dressbook publishes user contributed content in the form of blog posts, items uploaded, chat room messages, locations shared and comments. By providing this information either via RSS feed or directly on the application, comments or other content to the application, contributors agree to the following:
                    </p>
                    <ul class="list-number">
                      <li>Contributors may cease contributing new content at any time by emailing the application support team or removing the application.</li>
                      <li>Dressbook reserves the right to not publish contributed content at Dressbook’s discretion.</li>
                      <li>Dressbook will attribute content to the author.</li>
                      <li>Dressbook reserves the right to syndicate all contributed content in summary any form to third parties.</li>
                      <li>All contributed content may contain the author’s byline, a very brief biography of the author, and, in the case of material provided to us via RSS from the author’s own blog, a link back to the original post in the footer of the full post.</li>
                      <li>Contributing authors are solely responsible for the originality and accuracy of their submissions.</li>
                      <li>Dressbook has a zero-tolerance policy for plagiarism. Dressbook recognises that blogging is a heavily referential medium and that bloggers frequently cite and quote from each other’s work. Such citations might be protected under the legal doctrine of fair use. However, Dressbook will remove any post that crosses the line from fair use to plagiarism, at Dressbook’s sole discretion. Authors who knowingly submit plagiarised work may be banned from Dressbook communities.</li>
                      <li>Dressbook reserves the right to remove any sharing links or advertising accompanying contributed posts.</li>
                      <li>Dressbook reserves the right to set fonts and styles, adjust image alignments, and otherwise alter post layout to insure that posts comply with Dressbook global application styling.</li>
                      <li>From time to time, Dressbook may need to display summary versions of contributed content. In such cases, Dressbook may edit posts in summary form. Such summaries will contain a link to the full and unaltered post. In such circumstances, Dressbook will strive to preserve the original meaning and intent of the content.</li>
                      <li>Dressbook reserves the right to edit post headlines for clarity or search engine optimisation (keyword inclusion).</li>
                      <li>Dressbook reserves the right to make corrections for spelling and grammar.</li>
                      <li>Dressbook reserves the right to reproduce blogger bios and accompanying pictures in Dressbook’s marketing and promotional materials.</li>
                    </ul>
                    <h3>Visitors</h3>
                    <p>
                      Dressbook's communities are intended to enable lively but civil interaction. Use of language that is abusive, off-topic, uses excessive foul language, or includes ad hominem attacks will not be tolerated. Dressbook reserves the right to determine what constitutes inappropriate behaviour and to bar offenders at its sole discretion. Unless expressly permitted, you may not publish or reproduce the content that appears on any part of this application. Dressbook reserves the right to block or remove postings, items uploaded or communications at any time at Dressbook’s sole discretion.
                    </p>
                    <h3>Links to third-party websites</h3>
                    <p>
                      Some links on Dressbook's Application may link to third-party sites. Such links are provided solely as a convenience to you. If you use these links, you will leave the Dressbook Application. Dressbook is not obligated to review such third-party websites/application, does not control such third-party websites/applications, and is not responsible for any such third-party websites/application or their content (or the products, services, or content available through the same). Thus, Dressbook does not endorse or make any representations about such third-party websites/application, any information, software, products, services, or materials found there or any results that may be obtained from using them. If you decide to access any of the third-party websites linked to from the Dressbook Network, you do so entirely at your own risk.
                    </p>
                    <h3>Linking to this Site</h3>
                    <p>
                      You may create links to this Application from other websites, but only in accordance with the following terms and in compliance with all applicable laws.
                    </p>
                    <p>
                      Absent Dressbook written authorisation otherwise, a website that links to this Site:
                    </p>
                    <ul class="list-number">
                      <li>may link to, but shall not replicate, any content of the Dressbook Application (including any Dressbook logo);</li>
                      <li>shall not create a browser or border environment around any content of the Dressbook Application;</li>
                      <li>shall not imply that Dressbook endorses such website or any products, services, or content available through such website;</li>
                      <li>shall not misrepresent its relationship with Dressbook;</li>
                      <li>shall not present false or misleading information about Dressbook, its products, or its services;</li>
                      <li>shall not contain content that could be construed as distasteful, offensive, or controversial; and</li>
                      <li>shall contain only content that is appropriate for all age groups.</li>
                    </ul>
                    <h3>Indemnification</h3>
                    <p>
                      You agree to indemnify, defend, and hold harmless the Dressbook Parties from and against any and all claims, liabilities, damages, losses, costs, expenses, or fees (including reasonable attorneys’ fees) that such parties may incur as a result of or arising from your (or anyone using your account’s) violation of these Terms of Use. Dressbook reserves the right to assume the exclusive defence and control of any matter otherwise subject to indemnification by you and, in such case, you agree to cooperate with Dressbook’s defence of such claim.
                    </p>
                    <h3>Electronic communications</h3>
                    <p>
                      When you visit the Site/Application or send e-mails to Dressbook, you are communicating with Dressbook electronically. Dressbook may respond to you by e-mail or by posting notices on the Application. You agree that all such notices, disclosures, and other communications that Dressbook provides to you electronically satisfy any legal requirement that such communications be in writing.
                    </p>
                    <h3>General</h3>
                    <p>
                      These Terms of Use constitute the entire and exclusive and final statement of the agreement between you and Dressbook with respect to the subject matter hereof, superseding any prior agreements or negotiations between you and Dressbook with respect to such subject matter. The law of the United Kingdom (U.K) shall be used to govern, construe and enforce all rights and duties of the parties arising from or in any way relating to the subject matter of these Terms of Use including, without limitation, the performance, construction interpretation and enforcement thereof. All lawsuits arising from or relating to these Terms of Use shall be brought in the U.K courts, and you hereby irrevocably submit to the exclusive personal jurisdiction of such courts for such purpose. The failure of Dressbook to exercise or enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is found by a court of competent jurisdiction to be invalid, you nevertheless agree that the court should endeavour to give effect to the intentions of Dressbook and you as reflected in the provision, and that the other provisions of these Terms of Use remain in full force and effect. The section titles in these Terms of Use are for convenience only and have no legal or contractual effect. These Terms of Use shall remain in full force and effect notwithstanding any termination of your use of the Dressbook Application. These Terms of Use will be interpreted without application of any strict construction in favour of or against you or Dressbook. These Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Dressbook without restriction.
                    </p>
                    <h3>Modifications to these Terms of Use</h3>
                    <p>
                      Dressbook may, in its sole and absolute discretion, change these Terms of Use from time to time. Dressbook will post notice of such changes on the applicable Site or Application. If you object to any such changes, your sole recourse shall be to cease using the Dressbook Application. Continued use of the Dressbook Application following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes. Certain provisions of these Terms of Use may be superseded by expressly-designated legal notices or terms located on particular pages of the Dressbook Websites or Application and, in such circumstances, the expressly-designated legal notice or term shall be deemed to be incorporated into these Terms of Use and to supersede the provision(s) of these Terms of Use that are designated as being superseded.
                    </p>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>
