<ion-modal-view class="add-more-members-md">
	<ion-header-bar class="bar-assertive">
		<h1 class="title">Add more members</h1>
		<div class="buttons right-buttons">
			<div class="button button-clear" ng-click="addMoreMembersData.reqAddMembers($event)"><span class="icon ion-checkmark-circled"></span></div>
			<div class="button button-clear" ng-click="addMoreMembersModal.hide()"><span class="icon ion-close-circled"></span></div>
		</div>
	</ion-header-bar>
	<ion-content>
		<form name="createGroupFrm" ng-submit="addMoreMembersData.reqAddMembers($event)" novalidate>
			<div class="list">
				<div class="item item-input item-stacked-label">
					<span class="input-label">Members</span>
				</div>
				<div class="members-list">
					<div class="member-added" ng-repeat="member in addMoreMembersData.membersAdded track by $index">
						{{member.user.name}}
					</div>
					<div class="member-added" ng-repeat="member in addMoreMembersData.newMembers track by $index">
						{{member.user.name}}
						<a href="javascript:;" ng-click="addMoreMembersData.removeToGroup($event, $index)">
							<i class="ion-ios-close-outline"></i>
						</a>
					</div>
				</div>
				<group-members sync-data="addMoreMemberSyncData"></group-members>
			</div>
		</form>
	</ion-content>
</ion-modal-view>