<ion-view view-title="Profile" hide-back-button='true' class="page-message page-message-chat page-message-chat-group" hide-nav-bar="true">
	<ion-header-bar class="bar-assertive">
		<button class="button back-button buttons button-clear header-item" ui-sref="app.message_inbox"><i class="icon ion-ios-arrow-back"></i></button>
		<div class="buttons">
			<ion-item class="item item-avatar">
				<!-- <img ng-src="{{groupAvatar}}"> -->
				<h2>{{chat.name}}</h2>
				<div class="members-toggle">
					<span class="toggle"  ng-click="viewData.showMembers=!viewData.showMembers">
						{{chat.members.length}} members
						<i class="ion-ios-arrow-down" ng-show="!viewData.showMembers"></i>
						<i class="ion-ios-arrow-up" ng-show="viewData.showMembers"></i>
					</span>
					<div class="members-list" ng-show="viewData.showMembers">
						You
						<a class="member" href="javascript:;" ui-sref="app.message_chat({user:member.user._id})" ng-repeat="member in chat.members track by $index" ng-if="member.user._id!=userId">{{member.user.name}}</a>
					</div>
				</div>
			</ion-item>
		</div>
		<h1 class="title"></h1>
		<div class="buttons right-buttons">
			<!-- <button class="button button-clear new-chat-bt" ui-sref="app.message_newchat"><i class="icon ion-paperclip"></i></button> -->
			<!-- <button class="button button-clear notify-bt">
				<i class="icon ion-android-notifications-none"></i>
				<span class="notify-value">0</span>
			</button> -->
			<chat-notification not-chat="chat._id"></chat-notification>
			<button class="button button-clear button-round menu-opts-bt" ng-click="openPopupActions($event)"><i class="icon ion-android-more-vertical"></i></button>
		</div>
	</ion-header-bar>
	<div class="chat-wrp">
		<ion-content class="has-footer messages-box" delegate-handle="userMessageScroll" on-scroll="loadMore()">
			<div class="padding text-center" ng-show="!messages.length" ng-cloak>Let begin contact with members in {{chat.name}}.</div>
			<div ng-repeat="message in messages track by $index" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
				<div ng-if="message.isNotification" class="message-notif">
					{{message.msg}}
				</div>
				<div ng-if="!message.isNotification && userId != message.sender._id">
					<img ui-sref="app.viewUser({user:message.sender._id})" class="profile-pic left" ng-src="{{utils.getUserAvatar(message.sender)}}" onerror="onProfilePicError(this)" />
					<div class="chat-bubble left">
						<div class="message" ng-bind-html="message.content | nl2br" autolinker>
						</div>
						<div class="message-detail">
							<span class="bold">{{message.sender.name}}</span>,
							<span am-time-ago="message.createdAt"></span>
						</div>
					</div>
				</div>
				<div ng-if="!message.isNotification && userId == message.sender._id">
					<img ui-sref="app.viewUser({user:message.sender._id})" class="profile-pic right" ng-src="{{utils.getUserAvatar(message.sender)}}" onerror="onProfilePicError(this)" />
					<div class="chat-bubble right">
						<div class="message" ng-bind-html="message.content | nl2br" autolinker>
						</div>
						<div class="message-detail">
							<span class="bold">{{message.sender.name}}</span>,
							<span am-time-ago="message.createdAt"></span>
						</div>
					</div>
				</div>
				<div class="cf"></div>
			</div>
			<div class="push-message-loading" ng-show="showPushMessageLoading" ng-cloak>
				<!-- <img class="profile-pic right" ng-src="{{userAvatar}}" onerror="onProfilePicError(this)" /> -->
				<div class="chat-bubble right">
					<div class="message">
						<ion-spinner icon="dots"></ion-spinner>
					</div>
				</div>
			</div>
			<div class="cf"></div>
		</ion-content>
		<form name="sendMessageForm" ng-submit="sendMessage($event, sendMessageForm)" novalidate>
			<ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
				<label class="item-input-wrapper">
					<textarea ng-model="message" value="" placeholder="Send {{partner.name}} a message..." required minlength="1" maxlength="1500" msd-elastic ng-disabled="disableInput"></textarea>
				</label>
				<div class="footer-btn-wrap">
					<button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="disableInput || !message || message === ''">
					</button>
				</div>
			</ion-footer-bar>
		</form>
	</div>
</ion-view>
