<ion-view view-title="New Group" class="page-message page-message-newgroupchat" hide-nav-bar="true" hide-back-button='true'>
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-clear user-avatar" ui-sref="app.message_inbox"><i class="ion-ios-arrow-back"></i></button>
		</div>
		<h1 class="title">New Group</h1>
	</ion-header-bar>
	<ion-content>
		<form name="createGroupFrm" ng-submit="reqCreateGroup($event, createGroupFrm.$valid && membersAdded.length)" novalidate>
			<div class="list">
				<label class="item item-input item-stacked-label">
				    <span class="input-label">Name</span>
				    <input type="text" placeholder="Group name" name="name" ng-model="syncData.newGroup.name" required> 
				    <div class="frm-error" ng-show="createGroupFrm.name.$error.required && createGroupFrm.name.$dirty">Group name is required.</div>
				</label>
				<div class="item item-input item-stacked-label">
					<span class="input-label">Members</span>
				</div>
				<div class="members-list" ng-show="membersAdded.length">
					<div class="member-added" ng-repeat="member in membersAdded track by $index">
						{{member.user.name}}
						<a href="javascript:;" ng-click="removeToGroup($event, $index)">
							<i class="ion-ios-close-outline"></i>
						</a>
					</div>
				</div>
				<div class="frm-error" ng-show="!membersAdded.length && syncData.hasAddedMembers">Group members is required</div>

				<group-members sync-data="syncData"></group-members>
			</div>
			<div class="actions text-center">
                <button class="button button-assertive" type="submit" ng-disable="createGroupFrm.$invalid || !membersAdded.length" class="button">Create room</button>
                <a ui-sref="app.message_inbox" class="button button-outline button-assertive">Cancel</a>
			</div>
		</form>
	</ion-content>
</ion-view>