<ion-view view-title="Profile" hide-back-button='true' class="page-message page-message-inbox" hide-nav-bar="true">
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<!-- <button class="button button-clear user-avatar" ui-sref="app.profile"><img ng-src="{{userAvatar}}"></button> -->
        	<button class="button button-icon button-clear ion-ios-drag" menu-toggle="left"></button>
		</div>
		<h1 class="title"></h1>
		<div class="buttons right-buttons">
			<button class="button button-clear new-chat-bt" ui-sref="app.message_newchat"><i class="icon ion-ios-chatbubble"></i></button>
			<button class="button button-clear button-round menu-opts-bt" ng-click="openPopupMenu($event)"><i class="icon ion-android-more-vertical"></i></button>
		</div>
	</ion-header-bar>
	<div class="bar bar-subheader bar-search">
		<label class="item-input-wrapper placeholder-search-frm">
			<i class="placeholder-icon icon ion-ios-search"></i>
			<input type="search" placeholder="Search or start new chat" ng-model="syncData.keyword">
		</label>
	</div>
	<ion-content class="has-subheader has-subheader-search">
		<chat-inbox sync-data="syncData"></chat-inbox>
	</ion-content>
</ion-view>