<ion-view view-title="New Chat" class="page-message page-message-newchat" hide-nav-bar="true" hide-back-button='true'>
	<ion-header-bar class="bar-assertive">
		<div class="buttons">
			<button class="button button-clear" ui-sref="app.message_inbox"><i class="ion-ios-arrow-back"></i></button>
		</div>
		<h1 class="title">New Chat</h1>
	</ion-header-bar>
	<div class="bar bar-subheader bar-search">
		<label class="item-input-wrapper placeholder-search-frm">
			<i class="placeholder-icon icon ion-ios-search"></i>
			<input type="search" placeholder="Search or start new chat" ng-model="searchChattersKeyword" ng-keyup="typingSearchChatters($event)" ng-blur="reqSearchChatters($event)">
		</label>
	</div>
	<ion-content class="has-subheader has-subheader-search">
		<ion-list class="list list-chatters" ng-if="chatters.length" ng-cloak>
			<ion-item class="item item-avatar" ui-sref="app.message_chat({user:chatter.user._id})" ng-repeat="chatter in chatters | groupUserNameByAlphabet track by $index" divider-collection-repeat item="{{ chatter | json}}">
				<img ng-src="{{chatter.user.avatar}}">
				<h2>{{ chatter.user.name }}</h2>
				<p>{{ chatter.lastMessage ? (chatter.lastMessage.sender == userId ?'You:':''):''}}{{chatter.lastMessage?utils.subStringBySpace(chatter.lastMessage.content, 30):''}}</p>
				<p class="time-from">{{chatter.lastMessage?utils.fromNow(chatter.lastMessage.createdAt):''}}</p>
			</ion-item>
		</ion-list>
		<div class="empty-ntf alert alert-info" ng-show="showEmpty" ng-cloak>
			No result found. Please try and extend your search.
 		</div>
		<ion-infinite-scroll
			distance="1%"
			ng-if="moreDataCanBeLoaded()"
			icon="ion-load-c"
			on-infinite="loadMoreChatters()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
