<a class="item item-avatar friend-req-accepted-notification-item" ng-class="{'is-new':!notification.hasSeen}">
	<!-- <img ng-src="{{AppConfig.server+notification.img}}"> -->
	<img ng-src="{{utils.getUserAvatar(notification.additionData.request.from)}}">
	<h2>{{ notification.title }}<span class="time-from"> - {{utils.fromNow(notification.createdAt)}}</span></h2>
	<p class="ntf-content">{{ notification.content }}</p>
</a>
