.b-lazy-it-wrp .b-lazy-loading-icon{
	display: none;
}
.b-lazy-it-wrp .b-lazy{
	opacity: 1;
	width: 100%;
	vertical-align: bottom;
}
.b-lazy-it-wrp.loading .b-lazy{
	opacity: 0;
}
.b-lazy-it-wrp.loading .b-lazy-loading-icon{
	display: block;
}