<div class="b-lazy-it-wrp loading">
	<ion-spinner icon="spiral" class="b-lazy-loading-icon"></ion-spinner>
	<img class="b-lazy" data-blazy="{{AppConfig.server+image.bigUrl}}" data-blazy-thumb="{{AppConfig.server+image.thumbUrl}}" data-blazy-medium="{{AppConfig.server+image.mediumUrl}}" data-blazy-big="{{AppConfig.server+image.bigUrl}}" alt="Item Image"/>
</div>