<div class="item item-avatar borrow-notification-item" ng-class="{'is-new':!notification.hasSeen}" ng-click="notificationClick($event, notification)">
	<img ng-src="{{utils.getUserAvatar(notification.additionData.borrow.borrower)}}">
	<h2>{{ notification.title }}<span class="time-from"> - {{utils.fromNow(notification.createdAt)}}</span></h2>
	<div class="borrow-times">
		<i class="ion-ios-calendar-outline"></i>
		{{notification.additionData.borrow.startDate | date:"MM/dd/yyyy"}}
		-
		{{notification.additionData.borrow.returnDate | date:"MM/dd/yyyy"}}
		<div class="margin-vtc-5">
			<span class="label label-success">Accepted</span>
			<span class="label label-success" ng-if="notification.additionData.borrow.state == 4">Delivered</span>
			<span class="label label-success" ng-if="notification.additionData.borrow.state == 6">Returned</span>
			<span class="label label-success" ng-if="notification.additionData.borrow.state == 7">Received back</span>
		</div>
	</div>
	<div class="actions" ng-if="notification.additionData.borrow.state == 4 && !showLoading">
		<button class="button button-small button-assertive icon ion-ios-checkmark-empty" ng-click="markReturned($event)">Returned</button>
	</div>
	<div class="padding text-center" ng-show="showLoading">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>
</div>
