<ion-popover-view class="groupchat-popup-actions">
  <ion-content>
	<div class="list list-actions">
		<div class="item" ng-click="addMoreMembers($event)">Add more members</div>
		<div class="item" ng-click="leaveGroup($event)">Leave group</div>
	</div>
  </ion-content>
</ion-popover-view>