<ion-popover-view class="chat-notification">
  <ion-content>
	<div class="list list-actions">
		<a class="item" ui-sref="app.message_creategroup">New group</a>
	</div>
  </ion-content>
</ion-popover-view>