<ion-view view-title="Notifications">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button></ion-nav-back-button>
		<!-- ======= LEFT MENU BAR ====== -->
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-ios-drag" menu-toggle="left">
			</button>
		</ion-nav-buttons>
		<!-- ====== RIGHT MENU BAR ====== -->
		<ion-nav-buttons side="right">
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="page-user-notifications">
		<user-notification-list ng-if="main.isLoggedIn"></user-notification-list>
	</ion-content>
</ion-view>
