<ion-view view-title="Payment" hide-back-button='true'>
	<ion-content class="page-user-payment-settings">
    <h1 class="padding text-center">Connect with Dressbook Stripe to sell your items</h1>
		<div class="alert alert-info">
			To sell items through Dressbook please register or add your Stripe account. Once you have created an account and permitted Dressbook to accept payments on your behalf, you'll be able sell your amazing outfits.
		</div>
		<div class="padding text-center" ng-if="!main.user.stripe || !main.user.stripe.connected">
			<button ng-click="reqConnectStripe($event)" class="stripe-connect-bt"><span><img src="img/download.png"></img> Connect with Stripe</span></button>
		</div>
		<div ng-if="main.user.stripe && main.user.stripe.connected">
			<div class="alert alert-success">
				You have been connected your stripe with dressbook.
			</div>
			<div class="padding text-center">
				<button ng-click="reqConnectStripe($event)" class="stripe-connect-bt"><span><img src="img/download.png"></img> Connect again</span></button>
			</div>
		</div>
	</ion-content>
</ion-view>
