<ion-view view-title="Profile" hide-back-button='true' class="page-profile">
  <ion-content>
    <div class="view-profile">
      <!-- *profile-bg / background color -->
      <div class="profile-bg">
        <div class="item item-avatar" nav-clear>
          <!-- *content-img / container -->
          <div class="content-img">
            <img ng-src="{{userAvatar}}">
            <!-- *bg-img -->
            <div class="bg-img" ng-click="showChangeAvatar()"></div>
          </div>
          <h2 ng-click="showProfile()">{{user.name}}</h2>
        </div>
      </div>
      <!-- button bar with style FOLLOWER / FOLLOWING -->
      <div class="button-bar">
        <a class="button" ui-sref="app.listOwnItems">
          <h2>{{countItems}}</h2>
          <p>MY ITEMS</p>
        </a>
        <a class="button" ui-sref="app.ListItemsLiked">
          <h2>{{countItemsLiked}}</h2>
          <p>LIKED</p>
        </a>
        <a class="button" ui-sref="app.friends">
          <h2>{{ user.friends.length }}</h2>
          <p>MY FRIENDS</p>
        </a>
        <!-- <a class="button" ui-sref="app.userScore">
					<h2>{{user.score}}</h2>
					<p>Score</p>
				</a> -->
      </div>
    </div>
    <div ng-show="isShowProfile">
      <h1 class="text-center">User profile</h1>
      <ion-header-bar align-title="left" class="bar-stable" ng-click="syncData.isShowGeneralInfo=!syncData.isShowGeneralInfo;">
        <div class="buttons left-buttons">
          <button class="button">
            <i class="icon" ng-class="syncData.isShowGeneralInfo ? 'ion-minus' : 'ion-plus'"></i>
          </button>
        </div>
        <h2 class="title">General info</h2>
        <div class="buttons pull-right actions">
          <button ng-click="openEditGeneralInfo($event);" ng-show="!editGeneralInfo" class="button button-small button-clear">
            <i class="ion-ios-compose-outline"></i>
          </button>

          <button ng-click="saveGeneralInfo($event,forms.generalInfoFrm.$valid)" ng-show="editGeneralInfo" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-checkmark-outline"></i>
          </button>
          <button ng-click="closeEditGeneralInfo($event);" ng-show="editGeneralInfo" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-close-outline"></i>
          </button>
        </div>
      </ion-header-bar>
      <form name="forms.generalInfoFrm" ng-submit="invite($event,forms.generalInfoFrm.$valid)" novalidate ng-show="syncData.isShowGeneralInfo">
        <p class="alert alert-error error-text" ng-show="errorSaveGeneralInfoMessage" ng-cloak>{{errorSaveGeneralInfoMessage}}</p>
        <p class="alert alert-success success-text" ng-show="saveGeneralInfoSuccess" ng-cloak>General info has been saved.</p>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Full Name</span>
            <input ng-disabled="!editGeneralInfo" type="text" name="name" id="name" placeholder="Full Name" ng-model="generalInforData.name" class="ng-pristine ng-untouched ng-valid" required>
            <div class="frm-error" ng-show="forms.generalInfoFrm.name.$error.required && forms.generalInfoFrm.name.$dirty">Display name is required.</div>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">User Name</span>
            <input disabled type="text" name="username" id="username" placeholder="User Name" ng-model="generalInforData.username" class="ng-pristine ng-untouched ng-valid">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Address</span>
            <input ng-disabled="!editGeneralInfo" type="text" name="address" id="adress" placeholder="Address" ng-model="generalInforData.address" class="ng-pristine ng-untouched ng-valid">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Post Code</span>
            <input ng-disabled="!editGeneralInfo" type="text" name="postcode" id="postcode" placeholder="Post Code" ng-model="generalInforData.postcode" class="ng-pristine ng-untouched ng-valid" required>
            <div class="frm-error" ng-show="forms.generalInfoFrm.postcode.$error.required && forms.generalInfoFrm.postcode.$dirty">Post Code is required.</div>
          </label>
        </div>
        <div class="actions text-center padding" ng-show="editGeneralInfo">
          <button ng-click="saveGeneralInfo($event,forms.generalInfoFrm.$valid)" class="button button-assertive" type="submit" ng-disable="forms.generalInfoFrm.$invalid" class="button">Save</button>
          <button ng-click="closeEditGeneralInfo($event);" class="button button-outline button-assertive" class="button">Cancel</button>
        </div>
      </form>
      <ion-header-bar align-title="left" class="bar-stable" ng-click="syncData.isShowEmail=!syncData.isShowEmail;">
        <div class="buttons left-buttons">
          <button class="button">
            <i class="icon" ng-class="syncData.isShowEmail ? 'ion-minus' : 'ion-plus'"></i>
          </button>
        </div>
        <h2 class="title">Email</h2>
        <div class="buttons pull-right actions">
          <button ng-click="openEditEmail($event);" ng-show="!editEmail" class="button button-small button-clear">
            <i class="ion-ios-compose-outline"></i>
          </button>

          <button ng-click="saveEmail($event,forms.emailFrm.$valid)" ng-show="editEmail" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-checkmark-outline"></i>
          </button>
          <button ng-click="closeEditEmail($event);" ng-show="editEmail" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-close-outline"></i>
          </button>
        </div>
      </ion-header-bar>
      <form name="forms.emailFrm" ng-submit="invite($event,forms.emailFrm.$valid)" novalidate ng-show="syncData.isShowEmail">
        <p class="alert alert-error error-text" ng-show="errorSaveEmailMessage" ng-cloak>{{errorSaveEmailMessage}}</p>
        <p class="alert alert-success success-text" ng-show="saveEmailSuccess" ng-cloak>Your email has been changed.</p>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <input ng-disabled="!editEmail" type="email" name="email" id="email" placeholder="Email" ng-model="emailData.email" class="ng-pristine ng-untouched ng-valid ng-valid-email" required>
            <div class="frm-error" ng-show="forms.emailFrm.email.$error.required && forms.emailFrm.email.$dirty">Email is required.</div>
            <div class="frm-error" ng-show="forms.emailFrm.email.$error.email && forms.emailFrm.email.$dirty">Email isn't valid.</div>
          </label>
        </div>
        <div class="actions text-center padding" ng-show="editEmail">
          <button ng-click="saveEmail($event,forms.emailFrm.$valid)" class="button button-assertive" type="submit" ng-disable="forms.emailFrm.$invalid" class="button">Save</button>
          <button ng-click="closeEditEmail($event);" class="button button-outline button-assertive" class="button">Cancel</button>
        </div>
      </form>
      <ion-header-bar align-title="left" class="bar-stable" ng-click="syncData.isShowPassword=!syncData.isShowPassword;">
        <div class="buttons left-buttons">
          <button class="button">
            <i class="icon" ng-class="syncData.isShowPassword ? 'ion-minus' : 'ion-plus'"></i>
          </button>
        </div>
        <h2 class="title">Password</h2>
        <div class="buttons pull-right actions">
          <button ng-click="openEditPassword($event);" ng-show="!editPassword" class="button button-small button-clear">
            <i class="ion-ios-compose-outline"></i>
          </button>

          <button ng-click="savePassword($event,forms.passwordFrm.$valid)" ng-show="editPassword" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-checkmark-outline"></i>
          </button>
          <button ng-click="closeEditPassword($event);" ng-show="editPassword" ng-cloak class="button button-small button-clear">
            <i class="ion-ios-close-outline"></i>
          </button>
        </div>
      </ion-header-bar>
      <div ng-show="syncData.isShowPassword">
        <p class="alert alert-error error-text" ng-show="errorSavePasswordMessage" ng-cloak>{{errorSavePasswordMessage}}</p>
        <p class="alert alert-success success-text" ng-show="savePasswordSuccess" ng-cloak>Your password has been changed.</p>
        <form name="forms.passwordFrm" ng-submit="invite($event,forms.passwordFrm.$valid)" novalidate ng-show="editPassword">
          <div class="list">
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <input type="password" name="password" id="password" placeholder="Password" ng-model="passwordData.password" class="ng-pristine ng-untouched ng-valid" required>
              <div class="frm-error" ng-show="forms.passwordFrm.password.$error.required && forms.passwordFrm.password.$dirty">Password is required.</div>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Re-Password</span>
              <input type="password" name="password2" id="password2" placeholder="Verify Password" ng-model="passwordData.password_ver" class="ng-pristine ng-untouched ng-valid" compare-to="passwordData.password">
              <div class="frm-error" ng-show="forms.passwordFrm.password2.$error.compareTo && forms.passwordFrm.password2.$dirty">Password do not match!</div>
            </label>
          </div>
          <div class="actions text-center padding">
            <button ng-click="savePassword($event,forms.passwordFrm.$valid)" class="button button-assertive" type="submit" ng-disable="forms.passwordFrm.$invalid" class="button">Save</button>
            <button ng-click="closeEditPassword($event);" class="button button-outline button-assertive" class="button">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div ng-show="isShowChangeAvatar" ng-cloak>
      <h1 class="text-center">Change user avatar</h1>
      <div class="avatar-editor-wrp text-center">
        <single-file-browse data="browseData"></single-file-browse>
        <div class="image-editor" id="image-editor"></div>
      </div>
      <div ng-bind="fileUrl"></div>
      <img ng-src="{{fileUrl}}"></img>
      <div class="actions text-center padding">
        <button ng-click="saveAvatar($event)" class="button button-assertive" type="submit" class="button" ng-disabled="!avatarValid">Save</button>
        <button ng-click="showProfile()" class="button button-outline button-assertive" class="button">Cancel</button>
      </div>
    </div>
    <div class="padding text-center">
      The
      <a ui-sref="app.TandC({back:'profile'})" class="text-underline">Dressbook T&C</a>
    </div>
  </ion-content>

  <div class="quick-buttons">
    <button class="button button-assertive quick-add-item-bt" ui-sref="app.itemAdd"><i class="ion-ios-plus-empty"></i></button>
    <!-- <button class="button button-assertive" ng-click="toogleQuickButtons($event)"><i class="ion-more"></i></button> -->
  </div>
</ion-view>
