<ion-view view-title="Your score">
	<ion-content class="page-user-score">
		<div class="alert alert-success total-score text-center">
			Your Score: {{user.score}}
		</div>
		<h2>Points per month</h2>
		<div class="graph">Graph here</div>
		<h2>Point History</h2>
		<div class="score-history-list">
			<div class="score-history-header">
				<div class="score-history-create-at">Date</div>
				<div class="score-history-score">Points</div>
				<div class="score-history-type">Type</div>
			</div>
			<div class="list">
				<div class="score-history-row alert alert-info"  ng-repeat="scoreHistory in scoreHistories">
					<div class="score-history-create-at">
						{{scoreHistory.createdAt | date:"dd-MMM-yyyy"}}
					</div>
					<div class="score-history-score">
						{{scoreHistory.score}}
					</div>
					<div class="score-history-type">
						{{scoreHistory.type}}
					</div>
				</div>
			</div>
			<!-- <div class="padding text-center" ng-show="showLoading">
				<ion-spinner icon="spiral"></ion-spinner>
			</div> -->
		</div>
	</ion-content>
</ion-view>