<ion-view view-title="Add Friends" class="page-search-user" hide-back-button='true'>
	<div class="bar bar-subheader bar-search">
		<label class="item-input-wrapper placeholder-search-frm">
			<i class="placeholder-icon icon ion-ios-search"></i>
			<input type="search" ng-model="searchKeyword" ng-keyup="typingSearch($event)" ng-blur="reqSearch($event)">
		</label>
	</div>
	<ion-content class="has-subheader has-subheader-search">
		<ion-list class="list list-users" ng-if="users.length" ng-cloak>
			<ion-item class="item item-avatar clearfix" ng-repeat="user in users | groupUserNameByAlphabet  track by $index" divider-collection-repeat item="{{ user | json}}">
				<img ng-src="{{user.avatar}}" ui-sref="app.viewUser({user:user._id})">
				<h2 ui-sref="app.viewUser({user:user._id})">{{ user.name }}</h2>
				<div class="btn-actions">
					<button class="button button-small button-light margin-top-5 icon ion-ios-plus-empty" ng-click="addFriend($event, user)" ng-show="!user.friendConnected && !user.isFriendRequesting" ng-disabled="user.isAddFriendReqLoading" ng-cloak>Add friend</button>
					<button class="button button-small button-light margin-top-5 icon ion-ios-plus-empty" ng-show="user.isFriendRequesting" disabled ng-cloak>Friend request send</button>
					<div ng-show="user.friendConnected" class="friend-bt-wrp margin-top-5">
						<button class="button-clear friend-bt button button-small button-light icon ion-ios-checkmark-empty" disabled>
							Friend
						</button>
						<button class="icon ion-minus-circled remove-bt" ng-click="removeFriend($event, user)"></button>
					</div>
				</div>
			</ion-item>
		</ion-list>
		<div class="empty-ntf alert alert-info" ng-show="showEmpty" ng-cloak>
			No result found. Please try and extend your search.
		</div>
		<ion-infinite-scroll
			distance="1%"
			ng-if="moreDataCanBeLoaded()"
			icon="ion-load-c"
			on-infinite="loadMoreUsers()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
