<ion-view view-title="Transactions">
	<ion-content class="page-user-transactions">
		<h1 class="text-center padding">Transactions History</h1>
		<div class="transaction-list">
			<div class="transaction-header">
				<div class="transaction-create-at">Date</div>
				<div class="transaction-type">Type</div>
				<div class="transaction-info">Info</div>
			</div>
			<div class="list">
				<div class="alert alert-info text-center" ng-if="!transactions || !transactions.length">
					You haven't any transaction at this time.
				</div>
				<div class="transaction-row alert alert-info"  ng-repeat="transaction in transactions" ng-if="transactions && transactions.length">
					<div class="transaction-create-at">
						{{transaction.createdAt | date:"dd-MMM-yyyy"}}
					</div>
					<div class="transaction-type">
						{{transaction.type}}
					</div>
					<div class="transaction-info">
						<div ng-switch="transaction.type">
							<div ng-switch-when="borrow">
								<div class="transaction-status">
									<label class="label label-primary" ng-if="!_.isBoolean(transaction.ref.is_accept)">Pending</label>
									<label class="label label-danger" ng-if="transaction.ref.is_accept === false">Rejected</label>
									<label class="label label-success" ng-if="transaction.ref.is_accept">Accepted</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
								<div>
									<span>Time:</span>
									<span class="borrow-start">{{transaction.ref.startDate | date:"dd MMM yyyy"}}</span>
									-
									<span class="borrow-return">{{transaction.ref.returnDate | date:"dd MMM yyyy"}}</span>
								</div>
							</div>
							<div ng-switch-when="borrowed">
								<div class="transaction-status">
									<label class="label label-success" ng-if="transaction.ref.is_accept">Accepted</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
								<div>
									<span>Time:</span>
									<span class="borrow-start">{{transaction.ref.startDate | date:"dd MMM yyyy"}}</span>
									-
									<span class="borrow-return">{{transaction.ref.returnDate | date:"dd MMM yyyy"}}</span>
								</div>
							</div>
							<div ng-switch-when="lend">
								<div class="transaction-status">
									<label class="label label-primary" ng-if="!_.isBoolean(transaction.ref.is_accept)">Pending</label>
									<label class="label label-danger" ng-if="transaction.ref.is_accept === false">Rejected</label>
									<label class="label label-success" ng-if="transaction.ref.is_accept">Accepted</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
								<div>
									<span>Time:</span>
									<span class="borrow-start">{{transaction.ref.startDate | date:"dd MMM yyyy"}}</span>
									-
									<span class="borrow-return">{{transaction.ref.returnDate | date:"dd MMM yyyy"}}</span>
								</div>
							</div>
							<div ng-switch-when="lent">
								<div class="transaction-status">
									<label class="label label-success" ng-if="transaction.ref.is_accept">Accepted</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
								<div>
									<span>Time:</span>
									<span class="borrow-start">{{transaction.ref.startDate | date:"dd MMM yyyy"}}</span>
									-
									<span class="borrow-return">{{transaction.ref.returnDate | date:"dd MMM yyyy"}}</span>
								</div>
							</div>
							<div ng-switch-when="sold">
								<div class="transaction-status">
									<label class="label label-success" ng-if="transaction.ref.shipped">Shipped</label>
									<label class="label label-success" ng-if="!transaction.ref.shipped">Not Shipped</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
							</div>
							<div ng-switch-when="bought">
								<div class="transaction-status">
									<label class="label label-success" ng-if="transaction.ref.shipped">Shipped</label>
									<label class="label label-success" ng-if="!transaction.ref.shipped">Not Shipped</label>
								</div>
								<div>
									Item: <a ui-sref="app.itemView({id:transaction.ref.item._id})">{{transaction.ref.item.name}}</a>
								</div>
								<div>
									Owner: <a ui-sref="app.viewUser({user:transaction.provider._id})">{{transaction.provider.name}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="padding text-center" ng-show="showLoading">
				<ion-spinner icon="spiral"></ion-spinner>
			</div> -->
		</div>
	</ion-content>
</ion-view>
