<ion-view view-title="Profile" hide-back-button='false'>
  <ion-content class="page-view-user">
    <div class="view-profile">
      <!-- *profile-bg / background color -->
      <div class="profile-bg">
        <div class="item item-avatar" nav-clear>
          <!-- *content-img / container -->
          <div class="content-img">
            <img ng-src="{{user.getAvatar()}}">
            <!-- *bg-img -->
            <!-- <div class="bg-img" ng-click="changeAvatar=true;"></div> -->
          </div>
          <h2>{{user.name}}</h2>
					<button class="button button-small button-light margin-top-5 icon ion-ios-plus-empty" ng-click="addFriend($event, user._id)" ng-show="!isFriend && !isFriendRequesting" ng-disabled="isAddFriendReqLoading" ng-cloak>Add friend</button>
					<button class="button button-small button-light margin-top-5 icon ion-ios-plus-empty" ng-show="isFriendRequesting" disabled ng-cloak>Friend request send</button>
          <div ng-show="isFriend" class="friend-bt-wrp margin-top-5">
   					<button class="friend-bt button button-small button-light icon ion-ios-checkmark-empty" disabled>
               Friend
             </button>
             <button class="icon ion-minus-circled remove-bt" ng-click="removeFriend($event, user)"></button>
           </div>
					<ion-spinner icon="spiral" ng-show="isAddFriendReqLoading" ng-cloak class="vtc-bottom"></ion-spinner>
        </div>
      </div>
      <!-- button bar with style FOLLOWER / FOLLOWING -->
      <div class="button-bar">
        <a class="button" ui-sref="app.listUserItems({user:user._id})">
          <h2>{{countItems}}</h2>
          <p>ITEMS</p>
        </a>
        <a class="button" ui-sref="app.listItemsUserLiked({user:user._id})">
          <h2>{{countItemsLiked}}</h2>
          <p>LIKED</p>
        </a>
      </div>
    </div>
    <div ng-show="!changeAvatar">
      <h1 class="text-center">User profile</h1>
      <ion-header-bar align-title="left" class="bar-stable">
        <h2 class="title">General info</h2>
      </ion-header-bar>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input disabled type="text" name="name" id="name" placeholder="Full Name" ng-value="user.name?user.name:'---'" class="ng-pristine ng-untouched ng-valid">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">User Name</span>
          <input disabled type="text" name="username" id="username" placeholder="User Name" ng-value="user.username?user.username:'---'" class="ng-pristine ng-untouched ng-valid">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span>
          <input disabled type="text" name="address" id="adress" placeholder="Address" ng-value="user.address?user.address:'---'" class="ng-pristine ng-untouched ng-valid">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Post Code</span>
          <input disabled type="text" name="postcode" id="postcode" placeholder="Post Code" ng-value="user.postcode?user.postcode:'---'" class="ng-pristine ng-untouched ng-valid">
        </label>
      </div>

      <ion-header-bar align-title="left" class="bar-stable">
        <h2 class="title">Email</h2>
      </ion-header-bar>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <input disabled type="email" name="email" id="email" placeholder="Email" ng-value="user.email?user.email:'---'" class="ng-pristine ng-untouched ng-valid ng-valid-email">
        </label>
      </div>
    </div>
    <div class="padding"></div>
  </ion-content>
</ion-view>
