<div class="bar-notification-btn">
	<button class="button button-clear notify-bt" ng-class="{'has-active':syncData.countNews}" ng-click="popover.show($event)">
		<i class="icon ion-android-notifications-none"></i>
		<span class="notify-value">{{syncData.countNews}}</span>
	</button>
</div>