<ion-popover-view class="chat-notification popup-notification">
  <ion-content>
	<chat-inbox not-partner="notPartner" not-chat="notChat" sync-data="syncData"></chat-inbox>
  </ion-content>
</ion-popover-view>