<ion-modal-view class="add-more-members-md">
	<ion-header-bar class="bar-assertive">
		<!-- <div class="buttons right-buttons"> -->
		<div class="buttons">
			<!-- <div class="button button-clear" ng-show="forms.borrowBookFrm.$valid" ng-click="borrowBookReq($event,forms.borrowBookFrm)"><span class="icon ion-ios-checkmark-outline"></span></div> -->
			<div class="button button-clear" ng-click="borrowBookModal.hide()"><span class="icon ion-ios-arrow-left"></span></div>
		</div>
		<h1 class="title">Request to Borrow</h1>
	</ion-header-bar>
	<ion-content>
		<form name="forms.borrowBookFrm" ng-submit="borrowBookReq($event,forms.borrowBookFrm)">
			<div class="list">
				<div class="item item-input item-stacked-label">
					<span class="input-label">Depart</span>
					<ionic-datepicker input-obj="borrowBookFromPicker">
						<input type="text" name="from" placeholder="From Date" ng-model="borrowBookFormData.from" ng-readonly="true" required>
					</ionic-datepicker>
					<div class="frm-error" ng-show="forms.borrowBookFrm.from.$error.required && forms.borrowBookFrm.from.$dirty">Depart is required.</div>
				</div>
				<div class="item item-input item-stacked-label">
					<span class="input-label">Return</span>
					<ionic-datepicker input-obj="borrowBookToPicker">
						<input type="text" name="to" placeholder="To Date" ng-model="borrowBookFormData.to" ng-readonly="true"required>
					</ionic-datepicker>
					<div class="frm-error" ng-show="forms.borrowBookFrm.to.$error.required && forms.borrowBookFrm.to.$dirty">Depart is required.</div>
				</div>
			</div>
			<div class="actions text-center">
				<button class="button button-assertive" type="submit" ng-disabled="forms.borrowBookFrm.$invalid">Book</button>
				<button class="button button-assertive" ng-click="borrowBookClose($event)">Cancel</button>
			</div>
		</form>
	</ion-content>
</ion-modal-view>