<ion-view view-title="Browse by date" hide-back-button='true' class="page-browse-available-date">
  <ion-content>
    <form name="forms.browseFrm" ng-submit="browseReq($event,forms.browseFrm)">
			<div class="list">
				<div class="item item-input item-stacked-label">
					<span class="input-label">Depart</span>
					<ionic-datepicker input-obj="fromPicker">
						<input type="text" name="from" placeholder="From Date" ng-model="browseData.from" ng-readonly="true" required>
					</ionic-datepicker>
					<div class="frm-error" ng-show="forms.browseFrm.from.$error.required && forms.browseFrm.from.$dirty">Depart is required.</div>
				</div>
				<div class="item item-input item-stacked-label">
					<span class="input-label">Return</span>
					<ionic-datepicker input-obj="toPicker">
						<input type="text" name="to" placeholder="To Date" ng-model="browseData.to" ng-readonly="true"required>
					</ionic-datepicker>
					<div class="frm-error" ng-show="forms.browseFrm.to.$error.required && forms.browseFrm.to.$dirty">Depart is required.</div>
				</div>
			</div>
			<div class="text-center">
				<button class="button button-assertive button-full" type="submit" ng-disabled="forms.browseFrm.$invalid">Browse</button>
			</div>
		</form>
  </ion-content>
</ion-view>
