<ion-view view-title="Browse by category" class="page-browse-categories">
  <ion-content>
    <div class="list">
        <div class="item item-button-right" ng-repeat="category in categories track by $index" ui-sref="app.listItems({cat:category._id, keyword:keyword})" ng-class="{'active':category._id==current}">
          <span ng-bind-html="getSpaceChars(category.level-1)"></span>{{category.name}}
          <!-- <button class="button button-icon" ng-if="category.hasSubs">
            <i class="icon ion-ios-arrow-right"></i>
          </button> -->
        </div>
    </div>
  </ion-content>
</ion-view>
