<ion-modal-view class="item-comments-md-content">
	<ion-header-bar>
		<h1 class="title">Comments</h1>
		<div class="buttons right-buttons">
			<div class="button button-clear" ng-click="itemCommentsModal.hide()"><span class="icon ion-ios-close-outline"></span></div>
		</div>
	</ion-header-bar>
	<ion-content>
		<div class="padding">
			Comments for item <strong class="item-name">{{item.name}}</strong>
		</div>
		<item-comments item="item" focus="true" ng-if="item"></item-comments>
	</ion-content>
</ion-modal-view>