<ion-view view-title="{{ user.name }} Items" hide-back-button='true'>
  <div class="bar bar-assertive bar-header item-input-inset" id="search-bar-header" ng-show="hideNavBar" ng-cloak>
    <div class="item-input-wrapper">
      <i class="button button-icon button-clear icon ion-ios-search placeholder-icon "></i>
      <form clearfix>
        <input id="search-item-ip" type="text" placeholder="Search" ng-model="itemSearchKeyword">
      </form>
      <button class="button button-icon button-clear ion-ios-close-outline" ng-show="itemSearchKeyword" ng-click="clearQueryKeyword($event)"></button>
    </div>
    <button class="button button-clear" ng-click="toggleSearchBar()">
      Cancel
    </button>
  </div>
  <ion-content lazy-scroll class="page-list-items">
    <div class="list-items" ng-show="showItemsList" ng-cloak>
      <ion-list class="list-items">
        <ion-item ng-repeat="item in items track by $index" ng-if="!item.isDeleted">
          <div class="list card">
            <div class="item item-avatar item-icon-right">
              <img ng-src="{{Utils.getUserAvatar(item.provider)}}" ui-sref="app.viewUser({user:item.provider._id})">
              <h2><a ui-sref="app.viewUser({user:item.provider._id})">{{item.provider.name}}</a></h2>
              <p class="icon-p">
                <i class="icon ion-ios-clock-outline"></i>
                {{moment(item.createdAt).format('MMMM Do YYYY')}}
              </p>
            </div>
            <div class="item item-image">
              <a ui-sref="app.itemView({id:item._id,startDate:availableFrom, returnDate:availableTo})">
                <img class="full-image" image-lazy-src="{{Item.mainImageLink(item, imageVersionApply)}}" image-lazy-loader="spiral">
              </a>
              <p class="social-img-up">
                <a>
                  <i class="icon ion-ios-heart"></i>
                  {{item.countLiked}}
                </a>
                <a>
                  <i class="icon ion-ios-chatbubble"></i>
                  {{item.countComments}}
                </a>
              </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left black-bg">
              <a class="tab-item" ng-class="{hightlight:item.liked}" ng-click="likeItem($event, item, $index)">
                <i class="icon ion-ios-heart-outline"></i>
                Like
              </a>
              <a class="tab-item" ng-click="showCommentItem($event, item, $index)">
                <i class="icon ion-ios-chatbubble-outline"></i>
                Comment
              </a>
              <a class="tab-item" ng-click="showShareItem($event, item, $index)">
                <i class="icon ion-ios-redo-outline"></i>
                Share
              </a>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll on-infinite="loadMoreItems()" ng-if="canInfiniteLoad"></ion-infinite-scroll>
      <div class="text-center">
        <button class="button button-outline button-assertive" ng-if="showCanLoadMore" ng-click="loadNextPaging($event)">Load more items</button>
      </div>
      <div class="alert alert-info text-center" ng-if="showEndLoad">Hasn't more items to load</div>
    </div>
    <div class="empty-ntf alert alert-info" ng-show="showEmpty" ng-cloak>
      No items found, please try and extend your search.
    </div>
    <!-- <div class="empty-ntf padding text-center" ng-show="showLoading">
      <ion-spinner icon="spiral"></ion-spinner>
    </div> -->
  </ion-content>
</ion-view>
