<ion-modal-view class="share-social-md">
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Share Item</h1>
    <button class="button button-icon icon ion-ios-close-outline" ng-click="shareItemModal.hide()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="share-social clearfix">
      <div class="col">
        <button class="button" socialshare="" socialshare-provider="facebook" socialshare-url="{{shareUrl}}">
          <i class="ion-social-facebook-outline"></i>
          Facebook
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare="" socialshare-provider="twitter" socialshare-text="{{shareText}}" socialshare-url="{{shareUrl}}">
          <i class="ion-social-twitter-outline"></i>
          Twitter
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare="" socialshare-provider="google" socialshare-url="{{shareUrl}}">
          <i class="ion-social-googleplus-outline"></i>
          Google+
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare="" socialshare-provider="linkedin" socialshare-text="{{shareText}}" socialshare-url="{{shareUrl}}">
          <i class="ion-social-linkedin-outline"></i>
          Linkedin
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare socialshare-provider="pinterest" socialshare-text="{{shareText}}" socialshare-media="{{shareImg}}" socialshare-url="{{shareUrl}}">
          <i class="ion-social-pinterest-outline"></i>
          Pinterest
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare socialshare-provider="tumblr" socialshare-text="{{shareText}}" socialshare-url="{{shareUrl}}">
          <i class="ion-social-tumblr-outline"></i>
          Tumblr
        </button>
      </div>
      <div class="col">
        <button class="button" socialshare socialshare-provider="skype" socialshare-text="{{shareText}}" socialshare-url="{{shareUrl}}">
          <i class="ion-social-skype-outline"></i>
          Skype
        </button>
      </div>
      <div class="col">
      </div>
    </div>
  </ion-content>
</ion-modal-view>
