<ion-view hide-back-button='true' view-title="View Item" hide-nav-bar="true" class="page-view-item">
  <ion-header-bar class="bar-assertive">
    <div class="buttons">
      <button class="button button-icon button-clear ion-ios-arrow-back" ui-sref="app.listItems"></button>
    </div>
    <h1 class="title">View Item</h1>
    <div class="buttons right-buttons">
      <user-notification-button ng-if="main.isLoggedIn"></user-notification-button>
    </div>
  </ion-header-bar>
  <div class="bar bar-subheader">
    <div ng-if="!isOwn">
			<img ui-sref="app.viewUser({user:item.provider._id})" ng-src="{{providerAvatar}}"  class="round-profile-pic">
			<a ui-sref="app.viewUser({user:item.provider._id})">{{item.provider.name}}</a>
    </div>
    <div ng-if="isOwn">
      <img ui-sref="app.profile()" class="round-profile-pic" ng-src="{{providerAvatar}}">
      <a ui-sref="app.profile()">{{item.provider.name}}</a>
    </div>
	</div>
  <ion-content class="has-subheader">
    <!-- <div class="item item-avatar item-icon-right provider-info" ui-sref="app.viewUser({user:item.provider._id})" ng-if="!isOwn">
			<img ng-src="{{providerAvatar}}">
			<h2>{{item.provider.name}}</h2>
    </div>
    <div class="item item-avatar item-icon-right provider-info" ui-sref="app.profile()" ng-if="isOwn">
			<img ng-src="{{providerAvatar}}">
			<h2>{{item.provider.name}}</h2>
    </div> -->
    <div class="image item-carousel">
      <div class="image" ng-repeat="image in itemImages">
        <img ng-src="{{image}}">
      </div>
    </div>
    <div class="padding">
      <h1 class="text-center">{{item.name}}</h1>
      <div class="item-desc padd-vtc-10" ng-show="item.description.length">{{item.description}}</div>
      <div class="attr-row margin-bt-2">
        <span class="lb">Color:</span>
        <span class="val">{{ item.color.ref?item.color.ref.name:item.color.name }}</span>
      </div>
      <div class="attr-row margin-bt-2">
        <span class="lb">Size:</span>
        <span class="val">{{ item.size.ref?item.size.ref.name:item.size.name }}</span>
      </div>
      <div class="attr-row margin-bt-2">
        <span class="lb">Brand:</span>
        <span class="val">{{ item.brand.ref?item.brand.ref.name:item.brand.name }}</span>
      </div>
      <!-- <div class="attr-row margin-bt-2" ng-if="item.can_buy">
        <span class="lb">Price:</span>
        <span class="val">£{{ Utils.moneyFormat(item.cost, 0, '.', ',') }}</span>
      </div> -->
      <div class="attr-row margin-bt-2" ng-if="item.meetingPlaceTown">
        <span class="lb">Meeting place:</span>
        <span class="val">{{item.meetingPlaceTown}}</span>
      </div>
    </div>
    <div class="actions">
      <div ng-if="item.can_borrow">
        <div class="alert alert-info borrow-info" ng-if="borrowBook">
          You have booked:
          <i class="ion-ios-calendar-outline"></i>
          {{borrowBook.startDate | date:"MM/dd/yyyy"}}
          -
          {{borrowBook.returnDate | date:"MM/dd/yyyy"}}
          <span class="label label-success" ng-if="borrowBook.state == 3">Acepted</span>
          <span class="label label-primary" ng-if="borrowBook.state == 1">Pending</span>
          <span class="label label-danger" ng-if="borrowBook.state == 4">Rejected</span>
          <span class="label label-warning" ng-if="borrowBook.state == 2">Cancelled</span>
          <span class="label label-info" ng-if="borrowBook.state == 5">Returned</span>
        </div>
        <button class="button button-assertive button-full edit-borrow-book-btn" ng-click="borrowBookOpen($event, true)" ng-if="borrowBook && borrowBook.state == 1">Edit Borrow Request</button>
        <button class="button button-assertive button-full" ng-click="borrowBookOpen($event, false)" ng-if="!borrowBook || borrowBook.state != 1">Request to borrow</button>
      </div>
      <!-- <div ng-if="item.can_buy && item.providerStripeConnected">
        <div class="alert alert-info buy-success margin-top" ng-if="order">
          You have book buy this item.
        </div>
        <button class="button button-assertive button-full" ng-if="!order" ng-click="requestBuy($event)">Buy Book</button>
      </div> -->
    </div>
    <item-comments item="item" ng-if="item"></item-comments>
  </ion-content>
</ion-view>
