<div class="user-notifications">
  <div class="list list-notification" ng-if="notifications.length" ng-cloak>
    <div ng-repeat="notification in notifications track by $index" ng-switch on="notification.type">
      <borrow-notification-item notification="notification" popover="popover" ng-switch-when="borrow"></borrow-notification-item>
      <order-notification-item notification="notification" popover="popover" ng-switch-when="order"></order-notification-item>
      <friend-req-notification-item notification="notification" popover="popover" ng-switch-when="reqFriend"></friend-req-notification-item>
      <friend-req-accepted-notification-item notification="notification" popover="popover" ng-switch-when="reqFriendAccepted"></friend-req-accepted-notification-item>
      <a class="item item-avatar" ng-class="{'is-new':!notification.hasSeen}" ng-click="notificationClicked($event, notification)" ng-switch-default>
        <img ng-src="{{AppConfig.server+notification.img}}">
        <h2>{{ notification.title }}</h2>
        <p class="time-from relative">{{utils.fromNow(notification.createdAt)}}</p>
      </a>
    </div>
  </div>
  <ion-infinite-scroll on-infinite="loadMoreNotifications()" ng-if="canInfiniteLoad" ng-cloak></ion-infinite-scroll>
  
  <div class="empty-ntf alert alert-info" ng-show="!notifications.length && hasLoad" ng-cloak>
    You haven't any notification.
  </div>
</div>
