// Custom LESS
// ===========
@mixin marginx ($margin) {
	.margin-lft-#{$margin} {
		margin-left: $margin + px;
	}
	.margin-rgt-#{$margin} {
		margin-right: $margin + px;
	}
	.margin-top-#{$margin} {
		margin-top: $margin + px;
	}
	.margin-bt-#{$margin} {
		margin-bottom: $margin + px;
	}
	.margin-hrz-#{$margin} {
		margin: 0 $margin + px;
	}
	.margin-vtc-#{$margin} {
		margin: $margin + px 0;
	}
	.margin-#{$margin} {
		margin: $margin + px;
	}
}
@mixin paddingx ($padd) {
	.padd-lft-#{$padd} {
		padding-left: $padd + px;
	}
	.padd-rgt-#{$padd} {
		padding-right: $padd + px;
	}
	.padd-top-#{$padd} {
		padding-top: $padd + px;
	}
	.padd-bt-#{$padd} {
		padding-bottom: $padd + px;
	}
	.padd-hrz-#{$padd} {
		padding: 0 $padd + px;
	}
	.padd-vtc-#{$padd} {
		padding: $padd + px 0;
	}
	.padd-#{$padd} {
		padding: $padd + px;
	}
}
@include marginx(0);
@include marginx(2);
@include marginx(5);
@include marginx(10);
@include marginx(15);
@include marginx(20);
@include marginx(25);
@include marginx(30);
@include paddingx(0);
@include paddingx(2);
@include paddingx(5);
@include paddingx(10);
@include paddingx(15);
@include paddingx(20);
.required:after {
	content: "*";
	color: red;
}
.frm-error {
	color: red;
	font-size: 12px;
	text-transform: none;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-underline {
	text-decoration: underline;
}
.vtc-bottom {
	vertical-align: bottom;
}
.vtc-baseline {
	vertical-align: baseline;
}
