/* important for fixbug with google place autocompleted can't forcus */
.pac-container {
	pointer-events: auto!important;
	z-index: 1051 !important;
}
// ionsunset reset
.black-bg {
	.tab-item {
		&.hightlight {
			color: #ff7496;
		}
	}
}
/* ionic reset */
.item-toggle.required {
	&:after {
		content: none;
	}
	> div:first-child span:after {
		content: "*";
		color: red;
	}
}
ion-spinner.vtc-bottom {
	svg {
		vertical-align: bottom;
	}
}
.button {
	&.has-events{
		pointer-events: initial;
	}
	.button-very-small {
		min-height: 20px;
		line-height: 23px;
	}
	.bordered {
		border: 1px solid #b2b2b2;
	}
}

.popover{
	&.auto-height{
		height: auto !important;
	}
	ion-header-bar {
    position: relative;
	}
	ion-content {
	    top: 0;
	    position: relative;
	}
}
/* item reset */
.item-avatar, .item-avatar-left, .item-thumbnail-left{
	&.item.item-divider{
		padding-top: 8px;
		padding-left: 10px;
	}
}

@media (max-width: 767px) {
	form {
		.item-input {
			padding: 6px 10px 5px;
		}
		.actions {
			margin: 0 10px;
		}
	}
}
