@import "../ionsunset/variables";
// import variables colors
/* Main */
#main {
	margin-top: 50px;
}
#main .avatar {
	position: relative;
	display: block;
	margin-bottom: 1.5em;
}
#main .avatar img {
	display: block;
	margin: 0 auto;
	border-radius: 100%;
	box-shadow: 0 0 0 1.5em #ffffff;
}
#main .avatar:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -3em;
	width: calc(100% + 6em);
	height: 1px;
	z-index: -1;
	background: #c8cccf;
}
#main .forgot-password-lnk {
	margin-top: 20px;
}
// .page-login, .page-signup, .page-tandc{
//   color: #414f57;
//   font-family: "Source Sans Pro", Helvetica, sans-serif;
//   letter-spacing: 0.2em;
//
// 	.normal-font{
// 		font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
// 	  font-size: 14px;
// 	  font-weight: normal;
// 	  letter-spacing: normal;
// 	}
// }
.page-signup {
	.item-checkbox {
		a {
			text-decoration: underline;
		}
		.checkbox {
			z-index: -1 !important;
		}
	}
}
// .page-tandc{
// 	h1, h3{
// 		font-weight: bold;
// 	}
// }
/* manage page add item */
.page-add-item,
.page-edit-item {
	.item-images-placeholder {
		padding: 0;
		display: -webkit-box;
		/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box;
		/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox;
		/* TWEENER - IE 10 */
		display: -webkit-flex;
		/* NEW - Chrome */
		display: flex;
		.item-image-placeholder {
			width: 50%;
			overflow: hidden;
			position: relative;
			&.show-off-the-front {
				.item-image-placeholder-bd {
					width: 100%;
					height: 100%;
					border-right: 1px solid #EDEDED;
				}
			}
			&.show-off-the-back {
				.item-image-placeholder-bd {
					width: 100%;
					height: 100%;
					border-right: 1px solid #EDEDED;
					border-bottom: 1px solid #EDEDED;
				}
			}
			&.zoom-in-for-detail {
				.item-image-placeholder-bd {
					width: 100%;
					height: 100%;
					border-bottom: 1px solid #EDEDED;
				}
			}
			&.snap-a-pic-of-the-label {
				.item-image-placeholder-bd {
					width: 100%;
					height: 100%;
					border-right: 1px solid #EDEDED;
				}
			}
			.placeholder-bg {
				position: relative;
				img {
					width: 100%;
				}
				span {
					position: absolute;
					left: 0;
					top: 50%;
					line-height: 16px;
					margin-top: -8px;
					width: 100%;
					text-align: center;
					padding: 10px;
					white-space: initial;
					font-size: 13px;
					color: #989898;
				}
			}
			.item-image {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-position: 50% 25%;
				background-size: cover;
				display: block;
				background-repeat: no-repeat;
			}
			.remove-item-image {
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 24px;
			}
			.item-image-uploading-plh {
				position: absolute;
				top: 0;
				left: 0;
				padding: 5px;
				background: rgba(0,0,0,0.1);
				font-size: 13px;
				line-height: 20px;
				ion-spinner {
					width: 20px;
					height: 20px;
					display: inline-block;
					vertical-align: bottom;
				}
				svg {
					width: 20px;
					height: 20px;
				}
			}
			.item-image-upload-error-plh {
				position: absolute;
				left: 0;
				top: 50%;
				font-size: 13px;
				line-height: 16px;
				margin-top: -8px;
				width: 100%;
				text-align: center;
				padding: 10px;
				background: rgba(51,51,51,0.1);
				color: red;
			}
		}
		.optional-images-placeholders {
			width: 50%;
			.placeholder-row {
				display: flex;
				display: -webkit-box;
				/* OLD - iOS 6-, Safari 3.1-6 */
				display: -moz-box;
				/* OLD - Firefox 19- (buggy but mostly works) */
				display: -ms-flexbox;
				/* TWEENER - IE 10 */
				display: -webkit-flex;
				/* NEW - Chrome */
			}
		}
	}
}
.item-frm-choose-color-md {
	.colors-row {
		padding: 0;
		border-bottom: 1px solid #EFEFEF;
		margin-top: 0;
		.col {
			padding: 0;
		}
		.color-item {
			display: block;
			padding: 5px;
			position: relative;
			padding-left: 50px;
			&.selected {
				background: #F3F3F3;
			}
			.color-picture {
				width: 32px;
				height: 32px;
				overflow: hidden;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				position: absolute;
				left: 5px;
				img {
					width: 100%;
				}
			}
			.color-name {
				line-height: 32px;
			}
			.color-selected-mark {
				margin-left: auto;
				position: absolute;
				top: 5px;
				right: 0;
			}
		}
	}
	.another-color-input-list {
		margin-top: 10px;
	}
}
.item-frm-choose-size-md {
	.sizes-row {
		padding: 0;
		margin-top: 0;
		.col {
			padding: 0;
		}
		.size-item {
			padding: 5px;
			text-align: center;
			border-bottom: 1px solid #EFEFEF;
			border-right: 1px solid #EFEFEF;
			&.selected {
				background: #F3F3F3;
			}
			.size-name {
				line-height: 32px;
			}
		}
	}
	.another-size-input-list {
		margin-top: 10px;
	}
}
.item-frm-choose-brand-md {
	.brands {
		.item {
			&.selected {
				background: #F3F3F3;
			}
			.brand-selected-mark {
				margin-left: auto;
			}
		}
	}
	.another-brand-input-list {
		margin-top: 10px;
	}
}
/*.page-list-items .list-items .list.card .item-title strong{
	font-weight: bold;
}*/
.page-list-items {
	.quick-buttons {
		position: fixed;
		z-index: 10000;
		bottom: 12px;
		right: 12px;
		> button {
			display: inline-block;
			z-index: 10000;
			min-width: initial;
			min-height: initial;
			line-height: 40px;
			width: 42px;
			border-radius: 50%;
			color: white;
			font-size: 24px;
			padding: 0;
			&.quick-filter-bt {
				i {
					margin-left: -1px;
				}
			}
		}
	}
	// .bar.category-choosen{
	// 	h2{
	// 		text-decoration: underline;
	// 	}
	// }
}
.page-browse-location {
	.distance-bar {
		background: rgba(51,51,51,0.5);
		position: absolute;
		color: white;
		z-index: 1;
		top: 88px;
		right: 0;
		bottom: 120px;
		overflow: hidden;
		margin-top: -1px;
		padding-top: 1px;
		margin-bottom: -1px;
		width: 50px;
		height: auto;
		padding-left: 10px;
		font-size: 13px;
		.distance {
			position: relative;
			height: 10%;
			div {
				line-height: 20px;
				position: absolute;
				top: 50%;
				margin-top: -10px;
			}
			&.active {
				font-weight: bold;
			}
		}
	}
	.bar-subheader {
		padding: 5px;
		button {
			float: left;
		}
		.input-wrp {
			padding-left: 45px;
			input {
				width: 100%;
				height: 32px;
				padding: 0 5px;
				box-sizing: border-box;
			}
		}
	}
}
/* page profile */
.page-profile, .page-view-user {
	.profile-top .button-clear {
		font-size: 100%;
		max-height: inherit;
	}
	.bar-header {
		position: relative;
		margin-top: 1px;
		h2 {
			text-align: left;
		}
	}
	.cropit-image-preview {
		background-color: #f8f8f8;
		background-size: cover;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 7px;
		width: 250px;
		height: 250px;
		cursor: move;
		margin: 0 auto;
	}
	.bar-stable .actions .button {
		font-size: 24px;
		margin-left: 5px;
	}
	.view-profile {
		border-bottom: 5px solid #E84D4D;
		margin-bottom: 20px;
		h2 {
			margin-top: 10px;
		}
		.profile-bg .item-avatar .content-img .bg-img:before {
			top: 27px;
		}
	}
	.button-bar {
		.button {
			border-radius: 0;
		}
	}

	.quick-buttons {
			position: fixed;
			z-index: 10000;
			bottom: 12px;
			right: 12px;
			>button{
				display: inline-block;
				z-index: 10000;
				min-width: initial;
				min-height: initial;
				line-height: 40px;
				width: 42px;
				border-radius: 50%;
				color: white;
				font-size: 24px;
				padding:0;

				&.quick-filter-bt{
					i{
						margin-left: -1px;
					}
				}
			}
	}
}
.page-message {
	.bar-header {
		.new-chat-bt {
			margin-right: 12px;
		}
		.menu-opts-bt {
			border-radius: 50%;
			overflow: hidden;
			padding: 0;
			border: 1px solid #FF8182;
			width: 33px;
			height: 33px;
			i {
				width: 32px;
				display: block;
				position: relative;
			}
		}
	}
	.list-chatters .item {
		position: relative;
		.time-from {
			position: absolute;
			right: 5px;
			top: 18px;
			font-size: 12px;
		}
	}
}
.page-message-inbox {
	.list-chatters {
		.item.is-new {
			background: #EFEFEF;
			.item-content {
				background: #ECECEC;
			}
			.lasted-message {
				font-weight: bold;
			}
		}
	}
}
.search-group-member-wg {
	.item-input-wrapper {
		background: transparent;
	}
	.add-to-group-bt {
		position: absolute;
		right: 5px;
		top: 50%;
		margin-top: -20px;
	}
}
.page-message-chat {
	.bar-header {
		.item-avatar {
			padding-top: 0;
			padding-bottom: 0;
			background: transparent;
			border: 0;
			padding-right: 0;
			line-height: 10px;
			min-height: initial;
			height: auto;
			max-height: none;
			letter-spacing: normal;
			// padding-left: 60px;
			padding-left: 12px;
			img {
				top: 0;
				left: 8px;
				width: 35px;
				height: 35px;
				background: #FF7C7C;
			}
			h2 {
				font-family: arial;
				color: white;
				line-height: 18px;
			}
			p {
				font-size: 12px;
				color: #FFCBCB;
			}
		}
	}
	.chat-wrp {
		.bar-footer {
			overflow: visible !important;
			textarea {
				resize: none;
				height: 25px;
			}
		}
		button.ion-android-send {
			padding-top: 2px;
		}
		.footer-btn-wrap {
			position: relative;
			height: 100%;
			width: 50px;
			top: 7px;
		}
		.footer-btn {
			position: absolute !important;
			bottom: 0;
		}
		.message-notif {
			margin: 10px 0;
			padding: 5px 10px;
			background: #F9F9F9;
			text-align: center;
		}
		img.profile-pic {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			position: absolute;
			bottom: 10px;
			padding: 2px;
			border: 1px solid #FF9293;
			&.left {
				left: 10px;
			}
			&.right {
				right: 10px;
			}
		}
		.ion-email {
			float: right;
			font-size: 32px;
			vertical-align: middle;
		}
		.message {
			font-size: 14px;
		}
		.message-detail {
			white-space: nowrap;
			font-size: 12px;
			margin-top: 5px;
		}
		.bar.item-input-inset .item-input-wrapper input {
			width: 100% !important;
		}
		.message-wrapper {
			position: relative;
			&:last-child {
				margin-bottom: 10px;
			}
		}
		.chat-bubble {
			border-radius: 5px;
			display: inline-block;
			padding: 10px 18px;
			position: relative;
			margin: 10px;
			max-width: 80%;
			&:before {
				content: "\00a0";
				display: block;
				height: 16px;
				width: 9px;
				position: absolute;
				bottom: -7.5px;
			}
			&.left {
				background-color: #e6e5eb;
				float: left;
				margin-left: 55px;
				.message-detail {
					color: #5e5e5e;
				}
				&:before {
					background-color: #e6e5eb;
					left: 10px;
					-webkit-transform: rotate(70deg) skew(5deg);
				}
			}
			&.right {
				background-color: #158ffe;
				color: #fff;
				float: right;
				margin-right: 55px;
				.message-detail {
					color: #B8DDFF;
				}
				&:before {
					background-color: #158ffe;
					right: 10px;
					-webkit-transform: rotate(118deg) skew(-5deg);
				}
				a.autolinker {
					color: #fff;
					font-weight: bold;
				}
			}
		}
		.item-input,
		.item-input-wrapper,
		input,
		textarea {
			background-color: #f4f4f4 !important;
		}
		textarea {
			width: 100%;
		}
		.bold {
			font-weight: bold;
		}
		.cf {
			clear: both !important;
		}
		a.autolinker {
			color: #3b88c3;
			text-decoration: none;
		}
		.loader-center {
			height: 100%;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-direction: normal;
			-moz-box-direction: normal;
			-webkit-box-orient: horizontal;
			-moz-box-orient: horizontal;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			-webkit-box-pack: center;
			-moz-box-pack: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-content: stretch;
			-ms-flex-line-pack: stretch;
			align-content: stretch;
			-webkit-box-align: center;
			-moz-box-align: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
		}
		.loader .ion-loading-c {
			font-size: 64px;
		}
		.push-message-loading {
			.chat-bubble {
				padding: 0;
				background: transparent;
				margin-right: 10px;
				&:before {
					content: none;
				}
			}
		}
	}
}
.add-more-members-md .members-list,
.page-message-newgroupchat .members-list {
	margin: 10px;
}
.add-more-members-md .members-list .member-added,
.page-message-newgroupchat .members-list .member-added {
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 0 5px;
	border: 1px solid #FF6263;
	border-radius: 16px;
	line-height: 2;
	a {
		font-size: 16px;
		line-height: normal;
		position: relative;
		top: 1px;
		color: #FF6263;
	}
}
.page-message-chat-group {
	.bar-header {
		height: auto;
		.members-toggle {
			font-size: 12px;
			color: #FFCBCB;
			.toggle {
				display: inline-block;
				i {
					margin-top: 3px;
				}
			}
		}
		.member {
			line-height: normal;
			display: inline-block;
			margin: 5px 5px 5px 0;
			padding: 2px 5px;
			border-radius: 16px;
			border: 1px solid #FF8182;
			&:hover {
				color: #FFFFFF;
				border: 1px solid #FFBABA;
			}
		}
	}
}
.page-invite-friend {
	h2 {
		margin-top: 10px;
		text-align: center;
	}
}
.page-view-item {
	.bar-subheader{
		height: 62px;
		>div{
			display: flex;
		}
		a{
			color: #FF9293;
			margin-top: 17px;
			margin-left: 10px;
			/*&:hover{
				color: #ff7496;
			}*/
		}
	}
	.has-subheader {
    top: 106px;
	}

	.image.item-carousel {
		img {
			width: 100%;
		}
	}
	.provider-info {
		padding: 21px 20px 20px;
		min-height: initial;
		padding-left: 66px;
		> img:first-child {
			width: 40px;
			height: 40px;
			top: 10px;
		}
	}
	.borrow-info {
		margin: 0;
	}
	.edit-borrow-book-btn {
		margin-top: 0;
	}
	.actions {
		.button {
			margin: 0 0 1px;
		}
	}
}
.page-user-score {
	.score-history-list {
		.score-history-header,
		.score-history-row {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-moz-box-flex: 1;
			-moz-flex: 1;
			-ms-flex: 1;
			flex: 1;
			width: 100%;
			> * {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-moz-box-flex: 1;
				-moz-flex: 1;
				-ms-flex: 1;
				flex: 1;
			}
		}
		.score-history-header {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.score-history-row {
			margin: 0;
			border-width: 0;
			border-bottom-width: 1px;
			&:first-child {
				border-top-width: 1px;
			}
		}
	}
}
.page-user-transactions {
	.transaction-list {
		.transaction-header {
			> * {
				padding: 0 10px;
			}
		}
		.transaction-header,
		.transaction-row {
			display: -webkit-box;
			display: -webkit-flex;
			display: -moz-box;
			display: -moz-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-moz-box-flex: 1;
			-moz-flex: 1;
			-ms-flex: 1;
			flex: 1;
			width: 100%;
			> * {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-moz-box-flex: 1;
				-moz-flex: 1;
				-ms-flex: 1;
				flex: 1;
			}
		}
		.transaction-header {
			font-weight: bold;
			margin-bottom: 10px;
		}
		.transaction-row {
			margin: 0;
			border-width: 0;
			border-bottom-width: 1px;
			padding: 10px;
			&:first-child {
				border-top-width: 1px;
			}
			.transaction-status {
				margin-bottom: 10px;
			}
			a {
				color: #FF9293;
				&:hover {
					color: #ff7496;
				}
			}
		}
	}
}
.page-user-payment-settings {
	.alert.alert-info {
		margin: 0;
	}
}

.page-search-user, .page-friends{
	.btn-actions{
		.remove-bt{
			color:#FF6263;
		}
	}
	.list-users{
		ion-item{
			h2{
				float:left;
				margin-top: 11px;
			}
			.btn-actions{
				float:right;
			}
		}
	}
}

.page-friends{
	.abs-search-users-btn{
			position: fixed;
			z-index: 10000;
			bottom: 12px;
			right: 12px;
			z-index: 10000;
			min-width: initial;
			min-height: initial;
			line-height: 40px;
			width: 42px;
			border-radius: 50%;
			color: white;
			font-size: 24px;
	}
}

.share-social-md{
	.share-social{
		.col{
			float:left;
			width: 25%;
			text-align: center;
		}
		@media (min-width: 1200px){
			.col{
				width: 16.666666667%;
			}
	  }
		@media (max-width: 849px) and (min-width:680px){
			.col{
				width: 33.3333%;
			}
	  }
		@media (max-width: 479px){
			.col{
				width: 50%;
			}
	  }
		@media (max-width: 319px){
			.col{
				width: 100%;
			}
	  }
	}
}
