
.page-login, .page-signup, .page-tandc{
  @media (min-width: 1200px){
	}
	@media (max-width: 1199px){
	}
	@media (min-width: 980px){
	}
	@media (min-width: 980px) and (max-width: 1199px){
	}
	@media (max-width: 979px){
	}

	@media (min-width: 768px){
    form{
      width: 520px;
      margin:0 auto;
      .list .item{
        border-left:0;
        border-right:0;
      }
      .item-input{
        padding-left:0;
      }
    }
	}
	@media (min-width: 768px) and (max-width: 979px){
	}
	@media (max-width: 767px){
	}

	@media (min-width: 550px){
	}
	@media (min-width: 550px) and (max-width: 767px){
	}
	@media (max-width: 549px){
	}

	@media (min-width: 480px){
	}
	@media (min-width: 480px) and (max-width: 549px){
	}
	@media (max-width: 479px){
	}

	@media (min-width: 400px){
	}
	@media (min-width: 400px) and (max-width: 479px){
	}
	@media (max-width: 399px){
	}

	@media (min-width: 320px){
	}
	@media (min-width: 320px) and (max-width: 399px){
	}
	@media (max-width: 319px){
	}
}

.page-list-items{
  @media (min-width: 1200px){
	}
	@media (max-width: 1199px){
	}
	@media (min-width: 980px){
	}
	@media (min-width: 980px) and (max-width: 1199px){
	}
	@media (max-width: 979px){
	}

	@media (min-width: 768px){
    .list-items{
      .item-item{
        width: 50%;
        float:left;
      }
    }
    form{
      width: 520px;
      margin:0 auto;
      .list .item{
        border-left:0;
        border-right:0;
      }
      .item-input{
        padding-left:0;
      }
    }
	}
	@media (min-width: 768px) and (max-width: 979px){
	}
	@media (max-width: 767px){
	}

	@media (min-width: 550px){
	}
	@media (min-width: 550px) and (max-width: 767px){
	}
	@media (max-width: 549px){
	}

	@media (min-width: 480px){
	}
	@media (min-width: 480px) and (max-width: 549px){
	}
	@media (max-width: 479px){
	}

	@media (min-width: 400px){
	}
	@media (min-width: 400px) and (max-width: 479px){
	}
	@media (max-width: 399px){
	}

	@media (min-width: 320px){
	}
	@media (min-width: 320px) and (max-width: 399px){
	}
	@media (max-width: 319px){
	}
}
