<div class="comments-plh comments-widget">
	<div ng-if="isLoadding" class="padding text-center">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>
	<div class="alert alert-error" ng-if="isLoadError">
		Comment loadding error!
	</div>
	<div ng-if="!isLoadding && !isLoadError">
		<div class="heading">
			<span class="comment-count">{{comments.length}} Comments</span>
		</div>
		<div class="comment-frm">
			<div class="user-avatar">
				<img class="user-avatar-img" ng-src="{{main.userAvatar}}">
			</div>
			<div class="frm">
				<form name="addCommentFrm" ng-submit="addComment($event, addCommentFrm)">
					<label class="item item-input">
						<textarea ng-model="newCommentData.content" placeholder="Add comment..." required="true" ng-disabled="addingComment" msd-elastic></textarea>
					</label>
					<div class="alert alert-success" ng-if="isAddCommentSuccess">
						Comment added successful.
					</div>
					<div class="alert alert-error" ng-if="isAddCommentError">
						Has error in add comment.
					</div>
					<div class="actions text-right">
						<ion-spinner icon="spiral" ng-show="addingComment"></ion-spinner>
						<button class="button button-assertive button-small" ng-disabled="addCommentFrm.$invalid || addingComment">Submit</button>
					</div>
				</form>
			</div>
			<div class="list list-comments" ng-if="comments.length">
				<div class="item item-avatar" ng-repeat="comment in comments">
					<img ng-src="{{Utils.getUserAvatar(comment.provider)}}" ng-click="goToProfile(comment.provider, $event)">
					<h2 ng-click="goToProfile(comment.provider, $event)">{{comment.provider.name}}</h2>
					<p class="comment-content">{{comment.content}}</p>
					<p class="comment-info">
						<i class="ion-ios-clock-outline"></i>
						{{comment.createdAt | date:"hh:mma MM/dd/yyyy"}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
