<ion-list class="list-chatters" ng-if="chatsConnected.length" ng-cloak>
	<div ng-repeat="connect in chatsConnected | filter:syncData.keyword track by connect._id">
		<ion-item class="item-avatar" ng-if="connect.type == 'private'" ng-class="{'is-new':connect.lastMessage && !connect.lastMessage.hasSeen}" ui-sref="app.message_chat({user:connect.user._id})">
			<img ng-if="connect.type == 'private'" ng-src="{{connect.user.avatar}}">
			<h2 ng-if="connect.type == 'private'">{{ connect.user.name }}</h2>
			<p class="lasted-message" ng-show="connect.lastMessage">{{ connect.lastMessage && connect.lastMessage.sender == main.user._id ?'You:':''}}{{connect.lastMessage?utils.subStringBySpace(connect.lastMessage.content, 30):''}}</p>
			<p class="time-from" ng-show="connect.lastMessage">{{connect.lastMessage?utils.fromNow(connect.lastMessage.createdAt):''}}</p>
			<ion-option-button ng-click="removeChat($event, connect)" ng-if="syncData.hasRightEditable">
                <i class="icon ion-ios-close-empty"></i>
            </ion-option-button>
		</ion-item>
		<ion-item class="item-avatar" ng-if="connect.type == 'group'" ng-class="{'is-new':connect.lastMessage && !connect.lastMessage.hasSeen}" ui-sref="app.message_chatgroup({chat:connect._id})">
			<img ng-if="connect.type == 'group'" ng-src="{{groupAvatar}}">
			<h2 ng-if="connect.type == 'group'">{{ connect.name }}</h2>
			<p class="lasted-message" ng-show="connect.lastMessage">{{ connect.lastMessage && connect.lastMessage.sender == main.user._id ?'You:':''}}{{connect.lastMessage?utils.subStringBySpace(connect.lastMessage.content, 30):''}}</p>
			<p class="time-from" ng-show="connect.lastMessage">{{connect.lastMessage?utils.fromNow(connect.lastMessage.createdAt):''}}</p>
			<ion-option-button ng-click="removeChat($event, connect)" ng-if="syncData.hasRightEditable">
                <i class="icon ion-ios-close-empty"></i>
            </ion-option-button>
		</ion-item>
	</div>
	<div class="empty-ntf alert alert-info" ng-show="!chatsConnected.length" ng-cloak>
		You haven't any chat before.
	</div>
	<div class="padding text-center" ng-show="showLoading">
		<ion-spinner icon="spiral"></ion-spinner>
	</div>
</ion-list>