.margin-lft-0 {
  margin-left: 0px; }

.margin-rgt-0 {
  margin-right: 0px; }

.margin-top-0 {
  margin-top: 0px; }

.margin-bt-0 {
  margin-bottom: 0px; }

.margin-hrz-0 {
  margin: 0 0px; }

.margin-vtc-0 {
  margin: 0px 0; }

.margin-0 {
  margin: 0px; }

.margin-lft-2 {
  margin-left: 2px; }

.margin-rgt-2 {
  margin-right: 2px; }

.margin-top-2 {
  margin-top: 2px; }

.margin-bt-2 {
  margin-bottom: 2px; }

.margin-hrz-2 {
  margin: 0 2px; }

.margin-vtc-2 {
  margin: 2px 0; }

.margin-2 {
  margin: 2px; }

.margin-lft-5 {
  margin-left: 5px; }

.margin-rgt-5 {
  margin-right: 5px; }

.margin-top-5 {
  margin-top: 5px; }

.margin-bt-5 {
  margin-bottom: 5px; }

.margin-hrz-5 {
  margin: 0 5px; }

.margin-vtc-5 {
  margin: 5px 0; }

.margin-5 {
  margin: 5px; }

.margin-lft-10 {
  margin-left: 10px; }

.margin-rgt-10 {
  margin-right: 10px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-bt-10 {
  margin-bottom: 10px; }

.margin-hrz-10 {
  margin: 0 10px; }

.margin-vtc-10 {
  margin: 10px 0; }

.margin-10 {
  margin: 10px; }

.margin-lft-15 {
  margin-left: 15px; }

.margin-rgt-15 {
  margin-right: 15px; }

.margin-top-15 {
  margin-top: 15px; }

.margin-bt-15 {
  margin-bottom: 15px; }

.margin-hrz-15 {
  margin: 0 15px; }

.margin-vtc-15 {
  margin: 15px 0; }

.margin-15 {
  margin: 15px; }

.margin-lft-20 {
  margin-left: 20px; }

.margin-rgt-20 {
  margin-right: 20px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-bt-20 {
  margin-bottom: 20px; }

.margin-hrz-20 {
  margin: 0 20px; }

.margin-vtc-20 {
  margin: 20px 0; }

.margin-20 {
  margin: 20px; }

.margin-lft-25 {
  margin-left: 25px; }

.margin-rgt-25 {
  margin-right: 25px; }

.margin-top-25 {
  margin-top: 25px; }

.margin-bt-25 {
  margin-bottom: 25px; }

.margin-hrz-25 {
  margin: 0 25px; }

.margin-vtc-25 {
  margin: 25px 0; }

.margin-25 {
  margin: 25px; }

.margin-lft-30 {
  margin-left: 30px; }

.margin-rgt-30 {
  margin-right: 30px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bt-30 {
  margin-bottom: 30px; }

.margin-hrz-30 {
  margin: 0 30px; }

.margin-vtc-30 {
  margin: 30px 0; }

.margin-30 {
  margin: 30px; }

.padd-lft-0 {
  padding-left: 0px; }

.padd-rgt-0 {
  padding-right: 0px; }

.padd-top-0 {
  padding-top: 0px; }

.padd-bt-0 {
  padding-bottom: 0px; }

.padd-hrz-0 {
  padding: 0 0px; }

.padd-vtc-0 {
  padding: 0px 0; }

.padd-0 {
  padding: 0px; }

.padd-lft-2 {
  padding-left: 2px; }

.padd-rgt-2 {
  padding-right: 2px; }

.padd-top-2 {
  padding-top: 2px; }

.padd-bt-2 {
  padding-bottom: 2px; }

.padd-hrz-2 {
  padding: 0 2px; }

.padd-vtc-2 {
  padding: 2px 0; }

.padd-2 {
  padding: 2px; }

.padd-lft-5 {
  padding-left: 5px; }

.padd-rgt-5 {
  padding-right: 5px; }

.padd-top-5 {
  padding-top: 5px; }

.padd-bt-5 {
  padding-bottom: 5px; }

.padd-hrz-5 {
  padding: 0 5px; }

.padd-vtc-5 {
  padding: 5px 0; }

.padd-5 {
  padding: 5px; }

.padd-lft-10 {
  padding-left: 10px; }

.padd-rgt-10 {
  padding-right: 10px; }

.padd-top-10 {
  padding-top: 10px; }

.padd-bt-10 {
  padding-bottom: 10px; }

.padd-hrz-10 {
  padding: 0 10px; }

.padd-vtc-10 {
  padding: 10px 0; }

.padd-10 {
  padding: 10px; }

.padd-lft-15 {
  padding-left: 15px; }

.padd-rgt-15 {
  padding-right: 15px; }

.padd-top-15 {
  padding-top: 15px; }

.padd-bt-15 {
  padding-bottom: 15px; }

.padd-hrz-15 {
  padding: 0 15px; }

.padd-vtc-15 {
  padding: 15px 0; }

.padd-15 {
  padding: 15px; }

.padd-lft-20 {
  padding-left: 20px; }

.padd-rgt-20 {
  padding-right: 20px; }

.padd-top-20 {
  padding-top: 20px; }

.padd-bt-20 {
  padding-bottom: 20px; }

.padd-hrz-20 {
  padding: 0 20px; }

.padd-vtc-20 {
  padding: 20px 0; }

.padd-20 {
  padding: 20px; }

.required:after {
  content: "*";
  color: red; }

.frm-error {
  color: red;
  font-size: 12px;
  text-transform: none; }

.text-uppercase {
  text-transform: uppercase; }

.text-underline {
  text-decoration: underline; }

.vtc-bottom {
  vertical-align: bottom; }

.vtc-baseline {
  vertical-align: baseline; }
