@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");
/*
	Identity by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Type */
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  font-size: 14pt;
  font-weight: 300; }

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt; } }

@media screen and (max-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 10pt; } }

a {
  -moz-transition: color 0.2s ease, border-color 0.2s ease;
  -webkit-transition: color 0.2s ease, border-color 0.2s ease;
  -ms-transition: color 0.2s ease, border-color 0.2s ease;
  transition: color 0.2s ease, border-color 0.2s ease;
  color: inherit;
  text-decoration: none; }

a:before {
  -moz-transition: color 0.2s ease, text-shadow 0.2s ease;
  -webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
  -ms-transition: color 0.2s ease, text-shadow 0.2s ease;
  transition: color 0.2s ease, text-shadow 0.2s ease; }

a:hover {
  color: #ff7496; }

b,
strong {
  color: #313f47; }

em,
i {
  font-style: italic; }

p {
  margin: 0 0 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #313f47;
  margin: 0 0 0.75em; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none; }

h1 {
  font-size: 1.85em;
  letter-spacing: 0.22em;
  margin: 0 0 0.525em; }

h1.hd-style {
  letter-spacing: 0.22em; }

h2 {
  font-size: 1.25em; }

h3 {
  font-size: 1em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 1em; }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.65em; } }

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

hr {
  border: 0;
  border-bottom: solid 1px #c8cccf;
  margin: 3em 0; }

/*=============================================*/
.slim-style {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  letter-spacing: 0.2em; }

.bar.bar-assertive .title,
.hd-style {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.22em; }

.bar.bar-assertive .title {
  font-weight: bold; }

.row-part-hd,
form .frm-part-hd {
  background: #ECECEC;
  padding: 12px 0 4px 10px;
  text-transform: uppercase; }

#search-bar-header .item-input-wrapper {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  background: white; }
  #search-bar-header .item-input-wrapper i {
    position: absolute;
    left: 0;
    top: -3px;
    color: #ff6263; }
  #search-bar-header .item-input-wrapper button {
    position: absolute;
    right: 0;
    top: -3px;
    color: #ff6263; }
  #search-bar-header .item-input-wrapper button:before,
  #search-bar-header .item-input-wrapper i:before {
    font-size: 24px; }

#search-bar-header form {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%; }

#search-bar-header form input {
  width: 100%; }

.placeholder-search-frm {
  font-size: 21px;
  line-height: 36px;
  border: 1px solid #EDEDED;
  border-radius: 50px;
  margin: 10px; }

.bar-subheader.bar-search {
  height: 59px; }
  .bar-subheader.bar-search .item-input-wrapper {
    background: white; }
    .bar-subheader.bar-search .item-input-wrapper .icon {
      font-size: 21px;
      line-height: 36px; }
    .bar-subheader.bar-search .item-input-wrapper input[type=search], .bar-subheader.bar-search .item-input-wrapper input[type=text] {
      width: 100%; }

.bar-subheader .placeholder-search-frm {
  margin: 5px; }

.has-subheader.has-subheader-search {
  top: 102px; }

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader.has-subheader-search {
  top: 122px; }

ion-content.wrp-map > .scroll {
  height: 100%; }
  ion-content.wrp-map > .scroll .angular-google-map {
    height: 100%; }
    ion-content.wrp-map > .scroll .angular-google-map .angular-google-map-container {
      height: 100%; }

.gmap-window-item {
  width: 220px; }
  .gmap-window-item .it-img {
    float: left;
    width: 40%; }
  .gmap-window-item .it-info {
    float: left;
    width: 60%; }

.chat-notification-count {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  width: 24px;
  line-height: 24px;
  text-align: center;
  background: #FF0909;
  border-radius: 50%;
  display: block;
  color: white;
  font-family: arial;
  letter-spacing: normal;
  opacity: 0.94;
  font-size: 14px; }

.round-profile-pic {
  border: 1px solid #FF9293;
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  padding: 2px; }

.menu .bar-header.for-guest {
  background-color: #2e2e2e;
  background-image: none;
  border-color: #3b3b3b; }
  .menu .bar-header.for-guest .button {
    color: #ff6263; }

ion-side-menu-content.menu-disabled {
  width: auto !important;
  transform: initial !important; }

.menu .menu-content .item {
  padding: 16px 0 16px 16px; }
  .menu .menu-content .item .item-content {
    background: transparent;
    padding: 0;
    color: white;
    padding-left: 40px;
    overflow: visible; }
    .menu .menu-content .item .item-content i {
      font-size: 32px;
      line-height: 32px;
      position: absolute;
      color: #5e5e5e;
      top: -8px;
      left: 0; }
  .menu .menu-content .item.item-avatar {
    padding: 10px 0 20px;
    border: 0; }
    .menu .menu-content .item.item-avatar .item-content {
      padding-left: 0; }
      .menu .menu-content .item.item-avatar .item-content img {
        border: 5px solid #1a1a1a;
        max-height: 120px;
        max-width: 120px;
        position: relative;
        left: -5px; }
      .menu .menu-content .item.item-avatar .item-content h2 {
        margin-top: 20px;
        font-size: 16px; }

.bar-notification-btn .notify-bt {
  position: relative;
  margin-right: 10px; }

.bar-notification-btn .notify-value {
  position: absolute;
  top: -4px;
  right: -6px;
  width: 26px;
  line-height: 24px;
  background: #DCDCDC;
  text-align: center;
  border-radius: 50%;
  display: block;
  color: white;
  font-family: arial;
  letter-spacing: normal;
  opacity: 0.94;
  font-size: 14px; }

.bar-notification-btn .has-active .notify-value {
  background: #FF0909; }

.popup-notification .list .item {
  padding: 5px 5px 5px 50px;
  position: relative;
  min-height: 50px; }
  .popup-notification .list .item.is-new {
    background: #ECECEC; }
    .popup-notification .list .item.is-new .lasted-message {
      font-weight: bold; }
  .popup-notification .list .item h2 {
    font-size: 13px; }
  .popup-notification .list .item .time-from {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px; }
  .popup-notification .list .item .lasted-message {
    font-size: 12px; }
  .popup-notification .list .item img {
    max-width: 36px;
    max-height: 36px;
    top: 8px;
    left: 7px; }

.popup-notification.chat-notification .list .item {
  padding: 0;
  position: relative;
  min-height: initial;
  border-top-width: 1px;
  border-bottom-width: 1px; }
  .popup-notification.chat-notification .list .item .item-content {
    padding: 5px 5px 5px 50px;
    min-height: 50px; }
  .popup-notification.chat-notification .list .item.is-new {
    background: #ECECEC; }
    .popup-notification.chat-notification .list .item.is-new .item-content {
      background: #ECECEC; }

.user-notifications .list .item {
  padding: 5px 5px 5px 50px;
  position: relative;
  min-height: 50px; }
  .user-notifications .list .item.is-new {
    background: #ECECEC; }
    .user-notifications .list .item.is-new .lasted-message {
      font-weight: bold; }
  .user-notifications .list .item h2 {
    font-size: 13px; }
  .user-notifications .list .item .time-from {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 12px; }
  .user-notifications .list .item .lasted-message {
    font-size: 12px; }
  .user-notifications .list .item img {
    max-width: 36px;
    max-height: 36px;
    top: 8px;
    left: 7px; }

.user-notifications .list .item h2 {
  white-space: normal; }

.user-notifications .list .item .time-from {
  position: relative;
  top: 0;
  right: 0;
  color: #666; }

.user-notifications .list .item.borrow-notification-item .borrow-times {
  font-size: 13px;
  margin: 5px 0;
  color: #666; }

.user-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #FF9293;
  max-width: 50px;
  max-height: 50px;
  padding: 2px; }

.comments-plh {
  margin-top: 10px; }
  .comments-plh .heading {
    padding: 10px;
    border-bottom: 1px solid #D6D6D6;
    font-weight: bold; }
  .comments-plh .comment-frm {
    padding-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    position: relative; }
    .comments-plh .comment-frm .user-avatar {
      position: absolute; }
    .comments-plh .comment-frm .frm {
      padding-left: 60px; }
      .comments-plh .comment-frm .frm .actions {
        margin-top: 10px; }
      .comments-plh .comment-frm .frm .item-input {
        margin: 0; }
  .comments-plh .list-comments {
    margin-top: 10px; }
    .comments-plh .list-comments .item {
      border-width: 0;
      border-top-width: 1px; }
      .comments-plh .list-comments .item .comment-info {
        font-size: 13px;
        color: #989898;
        margin-top: 5px; }

.item-comments-md .modal-backdrop-bg {
  background: #000;
  opacity: 0.5; }

.item-comments-md .item-comments-md-content {
  top: 2% !important;
  bottom: 2% !important;
  left: 2% !important;
  right: 2% !important;
  min-height: 96% !important;
  width: 96% !important;
  border-radius: 10px !important;
  border: 1px solid #DCDCDC !important; }
  .item-comments-md .item-comments-md-content .bar-header {
    border-bottom: 1px solid #f7f7f7; }
  .item-comments-md .item-comments-md-content .scroll-content .item-name {
    font-weight: bold; }

.stripe-connect-bt {
  display: inline-block;
  margin-bottom: 1px;
  background-image: -webkit-linear-gradient(#28a0e5, #015e94);
  background-image: linear-gradient(#28a0e5, #015e94);
  -webkit-font-smoothing: antialiased;
  border: 0;
  padding: 1px;
  height: 30px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none !important; }
  .stripe-connect-bt span {
    -webkit-font-smoothing: antialiased;
    border: 0;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none !important;
    display: block;
    position: relative;
    padding: 0 12px;
    height: 30px;
    background: #1275ff;
    background-image: -webkit-linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    background-image: linear-gradient(#7dc5ee, #008cdd 85%, #30a2e4);
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    border-radius: 3px; }
    .stripe-connect-bt span img {
      vertical-align: middle; }

.list-notification .item p {
  overflow: visible;
  text-overflow: initial;
  white-space: initial; }

.friend-bt-wrp {
  position: relative;
  display: inline-block; }
  .friend-bt-wrp .friend-bt {
    padding-right: 28px; }
  .friend-bt-wrp .remove-bt {
    position: absolute;
    right: 0px;
    top: 2px;
    background: transparent;
    outline: none;
    border: none;
    color: white; }
