@media (min-width: 768px) {
  .page-login form, .page-signup form, .page-tandc form {
    width: 520px;
    margin: 0 auto; }
    .page-login form .list .item, .page-signup form .list .item, .page-tandc form .list .item {
      border-left: 0;
      border-right: 0; }
    .page-login form .item-input, .page-signup form .item-input, .page-tandc form .item-input {
      padding-left: 0; } }

@media (min-width: 768px) {
  .page-list-items .list-items .item-item {
    width: 50%;
    float: left; }
  .page-list-items form {
    width: 520px;
    margin: 0 auto; }
    .page-list-items form .list .item {
      border-left: 0;
      border-right: 0; }
    .page-list-items form .item-input {
      padding-left: 0; } }
