/* Main */
#main {
  margin-top: 50px; }

#main .avatar {
  position: relative;
  display: block;
  margin-bottom: 1.5em; }

#main .avatar img {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  box-shadow: 0 0 0 1.5em #ffffff; }

#main .avatar:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -3em;
  width: calc(100% + 6em);
  height: 1px;
  z-index: -1;
  background: #c8cccf; }

#main .forgot-password-lnk {
  margin-top: 20px; }

.page-signup .item-checkbox a {
  text-decoration: underline; }

.page-signup .item-checkbox .checkbox {
  z-index: -1 !important; }

/* manage page add item */
.page-add-item .item-images-placeholder,
.page-edit-item .item-images-placeholder {
  padding: 0;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }
  .page-add-item .item-images-placeholder .item-image-placeholder,
  .page-edit-item .item-images-placeholder .item-image-placeholder {
    width: 50%;
    overflow: hidden;
    position: relative; }
    .page-add-item .item-images-placeholder .item-image-placeholder.show-off-the-front .item-image-placeholder-bd,
    .page-edit-item .item-images-placeholder .item-image-placeholder.show-off-the-front .item-image-placeholder-bd {
      width: 100%;
      height: 100%;
      border-right: 1px solid #EDEDED; }
    .page-add-item .item-images-placeholder .item-image-placeholder.show-off-the-back .item-image-placeholder-bd,
    .page-edit-item .item-images-placeholder .item-image-placeholder.show-off-the-back .item-image-placeholder-bd {
      width: 100%;
      height: 100%;
      border-right: 1px solid #EDEDED;
      border-bottom: 1px solid #EDEDED; }
    .page-add-item .item-images-placeholder .item-image-placeholder.zoom-in-for-detail .item-image-placeholder-bd,
    .page-edit-item .item-images-placeholder .item-image-placeholder.zoom-in-for-detail .item-image-placeholder-bd {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #EDEDED; }
    .page-add-item .item-images-placeholder .item-image-placeholder.snap-a-pic-of-the-label .item-image-placeholder-bd,
    .page-edit-item .item-images-placeholder .item-image-placeholder.snap-a-pic-of-the-label .item-image-placeholder-bd {
      width: 100%;
      height: 100%;
      border-right: 1px solid #EDEDED; }
    .page-add-item .item-images-placeholder .item-image-placeholder .placeholder-bg,
    .page-edit-item .item-images-placeholder .item-image-placeholder .placeholder-bg {
      position: relative; }
      .page-add-item .item-images-placeholder .item-image-placeholder .placeholder-bg img,
      .page-edit-item .item-images-placeholder .item-image-placeholder .placeholder-bg img {
        width: 100%; }
      .page-add-item .item-images-placeholder .item-image-placeholder .placeholder-bg span,
      .page-edit-item .item-images-placeholder .item-image-placeholder .placeholder-bg span {
        position: absolute;
        left: 0;
        top: 50%;
        line-height: 16px;
        margin-top: -8px;
        width: 100%;
        text-align: center;
        padding: 10px;
        white-space: initial;
        font-size: 13px;
        color: #989898; }
    .page-add-item .item-images-placeholder .item-image-placeholder .item-image,
    .page-edit-item .item-images-placeholder .item-image-placeholder .item-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: 50% 25%;
      background-size: cover;
      display: block;
      background-repeat: no-repeat; }
    .page-add-item .item-images-placeholder .item-image-placeholder .remove-item-image,
    .page-edit-item .item-images-placeholder .item-image-placeholder .remove-item-image {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 24px; }
    .page-add-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh,
    .page-edit-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh {
      position: absolute;
      top: 0;
      left: 0;
      padding: 5px;
      background: rgba(0, 0, 0, 0.1);
      font-size: 13px;
      line-height: 20px; }
      .page-add-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh ion-spinner,
      .page-edit-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh ion-spinner {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: bottom; }
      .page-add-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh svg,
      .page-edit-item .item-images-placeholder .item-image-placeholder .item-image-uploading-plh svg {
        width: 20px;
        height: 20px; }
    .page-add-item .item-images-placeholder .item-image-placeholder .item-image-upload-error-plh,
    .page-edit-item .item-images-placeholder .item-image-placeholder .item-image-upload-error-plh {
      position: absolute;
      left: 0;
      top: 50%;
      font-size: 13px;
      line-height: 16px;
      margin-top: -8px;
      width: 100%;
      text-align: center;
      padding: 10px;
      background: rgba(51, 51, 51, 0.1);
      color: red; }
  .page-add-item .item-images-placeholder .optional-images-placeholders,
  .page-edit-item .item-images-placeholder .optional-images-placeholders {
    width: 50%; }
    .page-add-item .item-images-placeholder .optional-images-placeholders .placeholder-row,
    .page-edit-item .item-images-placeholder .optional-images-placeholders .placeholder-row {
      display: flex;
      display: -webkit-box;
      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;
      /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;
      /* TWEENER - IE 10 */
      display: -webkit-flex;
      /* NEW - Chrome */ }

.item-frm-choose-color-md .colors-row {
  padding: 0;
  border-bottom: 1px solid #EFEFEF;
  margin-top: 0; }
  .item-frm-choose-color-md .colors-row .col {
    padding: 0; }
  .item-frm-choose-color-md .colors-row .color-item {
    display: block;
    padding: 5px;
    position: relative;
    padding-left: 50px; }
    .item-frm-choose-color-md .colors-row .color-item.selected {
      background: #F3F3F3; }
    .item-frm-choose-color-md .colors-row .color-item .color-picture {
      width: 32px;
      height: 32px;
      overflow: hidden;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      left: 5px; }
      .item-frm-choose-color-md .colors-row .color-item .color-picture img {
        width: 100%; }
    .item-frm-choose-color-md .colors-row .color-item .color-name {
      line-height: 32px; }
    .item-frm-choose-color-md .colors-row .color-item .color-selected-mark {
      margin-left: auto;
      position: absolute;
      top: 5px;
      right: 0; }

.item-frm-choose-color-md .another-color-input-list {
  margin-top: 10px; }

.item-frm-choose-size-md .sizes-row {
  padding: 0;
  margin-top: 0; }
  .item-frm-choose-size-md .sizes-row .col {
    padding: 0; }
  .item-frm-choose-size-md .sizes-row .size-item {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF; }
    .item-frm-choose-size-md .sizes-row .size-item.selected {
      background: #F3F3F3; }
    .item-frm-choose-size-md .sizes-row .size-item .size-name {
      line-height: 32px; }

.item-frm-choose-size-md .another-size-input-list {
  margin-top: 10px; }

.item-frm-choose-brand-md .brands .item.selected {
  background: #F3F3F3; }

.item-frm-choose-brand-md .brands .item .brand-selected-mark {
  margin-left: auto; }

.item-frm-choose-brand-md .another-brand-input-list {
  margin-top: 10px; }

/*.page-list-items .list-items .list.card .item-title strong{
	font-weight: bold;
}*/
.page-list-items .quick-buttons {
  position: fixed;
  z-index: 10000;
  bottom: 12px;
  right: 12px; }
  .page-list-items .quick-buttons > button {
    display: inline-block;
    z-index: 10000;
    min-width: initial;
    min-height: initial;
    line-height: 40px;
    width: 42px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    padding: 0; }
    .page-list-items .quick-buttons > button.quick-filter-bt i {
      margin-left: -1px; }

.page-browse-location .distance-bar {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  color: white;
  z-index: 1;
  top: 88px;
  right: 0;
  bottom: 120px;
  overflow: hidden;
  margin-top: -1px;
  padding-top: 1px;
  margin-bottom: -1px;
  width: 50px;
  height: auto;
  padding-left: 10px;
  font-size: 13px; }
  .page-browse-location .distance-bar .distance {
    position: relative;
    height: 10%; }
    .page-browse-location .distance-bar .distance div {
      line-height: 20px;
      position: absolute;
      top: 50%;
      margin-top: -10px; }
    .page-browse-location .distance-bar .distance.active {
      font-weight: bold; }

.page-browse-location .bar-subheader {
  padding: 5px; }
  .page-browse-location .bar-subheader button {
    float: left; }
  .page-browse-location .bar-subheader .input-wrp {
    padding-left: 45px; }
    .page-browse-location .bar-subheader .input-wrp input {
      width: 100%;
      height: 32px;
      padding: 0 5px;
      box-sizing: border-box; }

/* page profile */
.page-profile .profile-top .button-clear, .page-view-user .profile-top .button-clear {
  font-size: 100%;
  max-height: inherit; }

.page-profile .bar-header, .page-view-user .bar-header {
  position: relative;
  margin-top: 1px; }
  .page-profile .bar-header h2, .page-view-user .bar-header h2 {
    text-align: left; }

.page-profile .cropit-image-preview, .page-view-user .cropit-image-preview {
  background-color: #f8f8f8;
  background-size: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 7px;
  width: 250px;
  height: 250px;
  cursor: move;
  margin: 0 auto; }

.page-profile .bar-stable .actions .button, .page-view-user .bar-stable .actions .button {
  font-size: 24px;
  margin-left: 5px; }

.page-profile .view-profile, .page-view-user .view-profile {
  border-bottom: 5px solid #E84D4D;
  margin-bottom: 20px; }
  .page-profile .view-profile h2, .page-view-user .view-profile h2 {
    margin-top: 10px; }
  .page-profile .view-profile .profile-bg .item-avatar .content-img .bg-img:before, .page-view-user .view-profile .profile-bg .item-avatar .content-img .bg-img:before {
    top: 27px; }

.page-profile .button-bar .button, .page-view-user .button-bar .button {
  border-radius: 0; }

.page-profile .quick-buttons, .page-view-user .quick-buttons {
  position: fixed;
  z-index: 10000;
  bottom: 12px;
  right: 12px; }
  .page-profile .quick-buttons > button, .page-view-user .quick-buttons > button {
    display: inline-block;
    z-index: 10000;
    min-width: initial;
    min-height: initial;
    line-height: 40px;
    width: 42px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    padding: 0; }
    .page-profile .quick-buttons > button.quick-filter-bt i, .page-view-user .quick-buttons > button.quick-filter-bt i {
      margin-left: -1px; }

.page-message .bar-header .new-chat-bt {
  margin-right: 12px; }

.page-message .bar-header .menu-opts-bt {
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: 1px solid #FF8182;
  width: 33px;
  height: 33px; }
  .page-message .bar-header .menu-opts-bt i {
    width: 32px;
    display: block;
    position: relative; }

.page-message .list-chatters .item {
  position: relative; }
  .page-message .list-chatters .item .time-from {
    position: absolute;
    right: 5px;
    top: 18px;
    font-size: 12px; }

.page-message-inbox .list-chatters .item.is-new {
  background: #EFEFEF; }
  .page-message-inbox .list-chatters .item.is-new .item-content {
    background: #ECECEC; }
  .page-message-inbox .list-chatters .item.is-new .lasted-message {
    font-weight: bold; }

.search-group-member-wg .item-input-wrapper {
  background: transparent; }

.search-group-member-wg .add-to-group-bt {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -20px; }

.page-message-chat .bar-header .item-avatar {
  padding-top: 0;
  padding-bottom: 0;
  background: transparent;
  border: 0;
  padding-right: 0;
  line-height: 10px;
  min-height: initial;
  height: auto;
  max-height: none;
  letter-spacing: normal;
  padding-left: 12px; }
  .page-message-chat .bar-header .item-avatar img {
    top: 0;
    left: 8px;
    width: 35px;
    height: 35px;
    background: #FF7C7C; }
  .page-message-chat .bar-header .item-avatar h2 {
    font-family: arial;
    color: white;
    line-height: 18px; }
  .page-message-chat .bar-header .item-avatar p {
    font-size: 12px;
    color: #FFCBCB; }

.page-message-chat .chat-wrp .bar-footer {
  overflow: visible !important; }
  .page-message-chat .chat-wrp .bar-footer textarea {
    resize: none;
    height: 25px; }

.page-message-chat .chat-wrp button.ion-android-send {
  padding-top: 2px; }

.page-message-chat .chat-wrp .footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px; }

.page-message-chat .chat-wrp .footer-btn {
  position: absolute !important;
  bottom: 0; }

.page-message-chat .chat-wrp .message-notif {
  margin: 10px 0;
  padding: 5px 10px;
  background: #F9F9F9;
  text-align: center; }

.page-message-chat .chat-wrp img.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  padding: 2px;
  border: 1px solid #FF9293; }
  .page-message-chat .chat-wrp img.profile-pic.left {
    left: 10px; }
  .page-message-chat .chat-wrp img.profile-pic.right {
    right: 10px; }

.page-message-chat .chat-wrp .ion-email {
  float: right;
  font-size: 32px;
  vertical-align: middle; }

.page-message-chat .chat-wrp .message {
  font-size: 14px; }

.page-message-chat .chat-wrp .message-detail {
  white-space: nowrap;
  font-size: 12px;
  margin-top: 5px; }

.page-message-chat .chat-wrp .bar.item-input-inset .item-input-wrapper input {
  width: 100% !important; }

.page-message-chat .chat-wrp .message-wrapper {
  position: relative; }
  .page-message-chat .chat-wrp .message-wrapper:last-child {
    margin-bottom: 10px; }

.page-message-chat .chat-wrp .chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%; }
  .page-message-chat .chat-wrp .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px; }
  .page-message-chat .chat-wrp .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px; }
    .page-message-chat .chat-wrp .chat-bubble.left .message-detail {
      color: #5e5e5e; }
    .page-message-chat .chat-wrp .chat-bubble.left:before {
      background-color: #e6e5eb;
      left: 10px;
      -webkit-transform: rotate(70deg) skew(5deg); }
  .page-message-chat .chat-wrp .chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px; }
    .page-message-chat .chat-wrp .chat-bubble.right .message-detail {
      color: #B8DDFF; }
    .page-message-chat .chat-wrp .chat-bubble.right:before {
      background-color: #158ffe;
      right: 10px;
      -webkit-transform: rotate(118deg) skew(-5deg); }
    .page-message-chat .chat-wrp .chat-bubble.right a.autolinker {
      color: #fff;
      font-weight: bold; }

.page-message-chat .chat-wrp .item-input,
.page-message-chat .chat-wrp .item-input-wrapper,
.page-message-chat .chat-wrp input,
.page-message-chat .chat-wrp textarea {
  background-color: #f4f4f4 !important; }

.page-message-chat .chat-wrp textarea {
  width: 100%; }

.page-message-chat .chat-wrp .bold {
  font-weight: bold; }

.page-message-chat .chat-wrp .cf {
  clear: both !important; }

.page-message-chat .chat-wrp a.autolinker {
  color: #3b88c3;
  text-decoration: none; }

.page-message-chat .chat-wrp .loader-center {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.page-message-chat .chat-wrp .loader .ion-loading-c {
  font-size: 64px; }

.page-message-chat .chat-wrp .push-message-loading .chat-bubble {
  padding: 0;
  background: transparent;
  margin-right: 10px; }
  .page-message-chat .chat-wrp .push-message-loading .chat-bubble:before {
    content: none; }

.add-more-members-md .members-list,
.page-message-newgroupchat .members-list {
  margin: 10px; }

.add-more-members-md .members-list .member-added,
.page-message-newgroupchat .members-list .member-added {
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: 0 5px;
  border: 1px solid #FF6263;
  border-radius: 16px;
  line-height: 2; }
  .add-more-members-md .members-list .member-added a,
  .page-message-newgroupchat .members-list .member-added a {
    font-size: 16px;
    line-height: normal;
    position: relative;
    top: 1px;
    color: #FF6263; }

.page-message-chat-group .bar-header {
  height: auto; }
  .page-message-chat-group .bar-header .members-toggle {
    font-size: 12px;
    color: #FFCBCB; }
    .page-message-chat-group .bar-header .members-toggle .toggle {
      display: inline-block; }
      .page-message-chat-group .bar-header .members-toggle .toggle i {
        margin-top: 3px; }
  .page-message-chat-group .bar-header .member {
    line-height: normal;
    display: inline-block;
    margin: 5px 5px 5px 0;
    padding: 2px 5px;
    border-radius: 16px;
    border: 1px solid #FF8182; }
    .page-message-chat-group .bar-header .member:hover {
      color: #FFFFFF;
      border: 1px solid #FFBABA; }

.page-invite-friend h2 {
  margin-top: 10px;
  text-align: center; }

.page-view-item .bar-subheader {
  height: 62px; }
  .page-view-item .bar-subheader > div {
    display: flex; }
  .page-view-item .bar-subheader a {
    color: #FF9293;
    margin-top: 17px;
    margin-left: 10px;
    /*&:hover{
				color: #ff7496;
			}*/ }

.page-view-item .has-subheader {
  top: 106px; }

.page-view-item .image.item-carousel img {
  width: 100%; }

.page-view-item .provider-info {
  padding: 21px 20px 20px;
  min-height: initial;
  padding-left: 66px; }
  .page-view-item .provider-info > img:first-child {
    width: 40px;
    height: 40px;
    top: 10px; }

.page-view-item .borrow-info {
  margin: 0; }

.page-view-item .edit-borrow-book-btn {
  margin-top: 0; }

.page-view-item .actions .button {
  margin: 0 0 1px; }

.page-user-score .score-history-list .score-history-header,
.page-user-score .score-history-list .score-history-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }
  .page-user-score .score-history-list .score-history-header > *,
  .page-user-score .score-history-list .score-history-row > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.page-user-score .score-history-list .score-history-header {
  font-weight: bold;
  margin-bottom: 10px; }

.page-user-score .score-history-list .score-history-row {
  margin: 0;
  border-width: 0;
  border-bottom-width: 1px; }
  .page-user-score .score-history-list .score-history-row:first-child {
    border-top-width: 1px; }

.page-user-transactions .transaction-list .transaction-header > * {
  padding: 0 10px; }

.page-user-transactions .transaction-list .transaction-header,
.page-user-transactions .transaction-list .transaction-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%; }
  .page-user-transactions .transaction-list .transaction-header > *,
  .page-user-transactions .transaction-list .transaction-row > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.page-user-transactions .transaction-list .transaction-header {
  font-weight: bold;
  margin-bottom: 10px; }

.page-user-transactions .transaction-list .transaction-row {
  margin: 0;
  border-width: 0;
  border-bottom-width: 1px;
  padding: 10px; }
  .page-user-transactions .transaction-list .transaction-row:first-child {
    border-top-width: 1px; }
  .page-user-transactions .transaction-list .transaction-row .transaction-status {
    margin-bottom: 10px; }
  .page-user-transactions .transaction-list .transaction-row a {
    color: #FF9293; }
    .page-user-transactions .transaction-list .transaction-row a:hover {
      color: #ff7496; }

.page-user-payment-settings .alert.alert-info {
  margin: 0; }

.page-search-user .btn-actions .remove-bt, .page-friends .btn-actions .remove-bt {
  color: #FF6263; }

.page-search-user .list-users ion-item h2, .page-friends .list-users ion-item h2 {
  float: left;
  margin-top: 11px; }

.page-search-user .list-users ion-item .btn-actions, .page-friends .list-users ion-item .btn-actions {
  float: right; }

.page-friends .abs-search-users-btn {
  position: fixed;
  z-index: 10000;
  bottom: 12px;
  right: 12px;
  z-index: 10000;
  min-width: initial;
  min-height: initial;
  line-height: 40px;
  width: 42px;
  border-radius: 50%;
  color: white;
  font-size: 24px; }

.share-social-md .share-social .col {
  float: left;
  width: 25%;
  text-align: center; }

@media (min-width: 1200px) {
  .share-social-md .share-social .col {
    width: 16.666666667%; } }

@media (max-width: 849px) and (min-width: 680px) {
  .share-social-md .share-social .col {
    width: 33.3333%; } }

@media (max-width: 479px) {
  .share-social-md .share-social .col {
    width: 50%; } }

@media (max-width: 319px) {
  .share-social-md .share-social .col {
    width: 100%; } }
