/* Empty. Add your own CSS if you like */
  ion-nav-view {
    height: 100%;
    background-color: #ffffff;
    background-image: url("/img/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/img/bg.jpg");
    background-image: url("/img/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/img/bg.jpg");
    background-image: url("/img/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/img/bg.jpg");
    background-image: url("/img/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/img/bg.jpg");
    background-repeat: repeat,			no-repeat,			no-repeat;
    background-size: 100px 100px, cover,				cover;
    background-position: top left,		center center,		bottom center;
    background-attachment: fixed,			fixed,				fixed;
  }

  $stable:                          #f8f8f8 !default;

  .scroll {
    padding: 10px 0 50px !important;
  }
  .messages {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -moz-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: 20px !important;
    .message {
      -webkit-box-flex: 1 !important;
      -moz-box-flex: 1 !important;
      -webkit-flex: 1 1 auto !important;
      -ms-flex: 1 1 auto !important;
      flex: 1 1 auto !important;
      padding: 10px !important;
      -webkit-transition: all 250ms ease-in-out !important;
      transition: all 250ms ease-in-out !important;
      overflow: hidden !important;
      text-align: left !important;
      -webkit-transform: translate3d(0, 0, 0) !important;
      -moz-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }
  .time {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 1 auto !important;
    -ms-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
    -webkit-align-self: auto !important;
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
    width: 120px !important;
    text-align: center !important;
    padding: 0 0 0 0 !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    -webkit-transform: translate3d(10px, 0, 0) !important;
    -moz-transform: translate3d(10px, 0, 0) !important;
    transform: translate3d(10px, 0, 0) !important;
    &.slide-right {
      -webkit-transform: translate3d(130px, 0, 0) !important;
      -moz-transform: translate3d(130px, 0, 0) !important;
      transform: translate3d(130px, 0, 0) !important;
    }
  }
  //This will change
  .messages.other {
    .message {
      -webkit-transform: translate3d(0, 0, 0) !important;
      -moz-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
      text-align: right !important;
    }
    .message.slide-right {
      -webkit-transform: translate3d(120px, 0, 0) !important;
      -moz-transform: translate3d(120px, 0, 0) !important;
      transform: translate3d(120px, 0, 0) !important;
    }
